<div data-ng-repeat="applicationsystem in extendedLO.lo.applicationSystems">
	<div class="panel panel-ki-default">
        <div class="panel-heading">
            <span class="panel-title">{{applicationsystem.name}}</span>
        </div>
            
		<div class="panel-body">
        	<div data-ng-repeat="applicationoptionRow in applicationsystem.applicationOptions | columnize:2" class="row ao-row">
                <div data-ng-repeat="applicationoption in applicationoptionRow" class="col-md-8">
        			<div class="margin-vertical-small"><strong>{{applicationoption.name}}</strong></div>
					<div class="margin-vertical-small">
						{{applicationoption.requiredBaseEducations}}
					</div>
        			<div data-ng-transclude></div>
                </div>
    		</div>
        </div>
	</div>
</div>