<aside class="grid16-6 application-container">
    <h4 class="title" data-ki-i18n="application-prerequisite"></h4>
    <div class="content">
        <form>
            <ul class="nobullet">
                <li data-ng-repeat="loi in lois">
                    <input 
                    type="radio" 
                    name="prerequisiteSelection" 
                    id="input{{$index}}-{{$id}}" 
                    value="{{loi.prerequisite.value}}" 
                    data-ng-change="changePrerequisiteSelection(loi.prerequisite.value)"
                    data-ng-model="prerequisite.value"
                    data-ng-class="showApplicationRadioSelection" />
                    <label for="input{{$index}}-{{$id}}">{{loi.prerequisite.description}}</label>
                    <span data-ki-as-state-label class="margin-left-1"></span>
                </li>
            </ul>
        </form>
    </div>
    <div class="application-system-container">
        <div data-ng-repeat="as in selectedLOI.applicationSystems" class="application-system">
            <div data-ng-switch="as.aoSpecificApplicationDates">
                <div data-ng-switch-when="true">
                    <div data-ng-include data-src="'partials/common/haku_lisahaku.html'"></div>
                </div>
                <div data-ng-switch-default>
                    <div data-ng-include data-src="'partials/common/haku_yhteishaku.html'"></div>
                </div>
            </div>
        </div>
    </div>
</aside>