<h4 class="title"><span data-ki-i18n="application-options-additional"></span> ({{as.applicationOptions.length}})</h4>
<div data-ng-repeat="ao in as.applicationOptions" class="content">
    <div data-ng-include data-src="'partials/' + loType + '/ao_lh.html'"></div>
    <form name="levelSelectionForm" id="application-form-{{as.id}}" action="{{hakuAppUrl}}lomake/{{as.id}}" method="POST" class="margin-top-2" target="hakulomake">
        <input 
        type="hidden" 
        name="preference1-Opetuspiste" 
        value="{{parentLO.provider.name}}" />
        <input 
        type="hidden" 
        name="preference1-Opetuspiste-id" 
        value="{{parentLO.provider.id}}" />
        <input 
        type="hidden" 
        name="preference1-Koulutus" 
        value="{{ao.name}}" />
        <input 
        type="hidden" 
        name="preference1-Koulutus-id" 
        value="{{ao.id}}" />
        <input 
        type="hidden" 
        name="preference1-Koulutus-educationDegree" 
        value="{{parentLO.educationDegree}}" />
        <input 
        type="hidden" 
        name="preference1-Koulutus-id-sora" 
        value="{{ao.sora}}" />
        <input 
        type="hidden" 
        name="preference1-Koulutus-id-lang" 
        value="{{ao.teachLang}}" />
        <input
        type="hidden"
        name="preference1-Koulutus-id-athlete"
        value="{{parentLO.provider.athleteEducation}}" />
        <input
        type="hidden"
        name="preference1-Koulutus-id-aoIdentifier"
        value="{{ao.aoIdentifier}}" />
        <button type="submit" data-ng-disabled="!ao.canBeApplied">
            <span>
                <span data-ki-i18n="apply-button-label-additional"></span>
            </span>
        </button>
    </form>
    <div class="margin-top-2 small" data-ki-render-application-option-active></div>
</div>