<h4 class="title" data-ki-i18n="application-title"></h4>
<div class="content">{{as.name}}</div>

<h4 class="title" data-ki-i18n="application-period"></h4>
<div class="content">
    <span data-ng-repeat="dates in as.applicationDates">
        <span data-ki-timestamp="{{dates.startDate}}"></span> - <span data-ki-timestamp="{{dates.endDate}}"></span><br/>
    </span>
</div>

<h4 class="title"><span data-ki-i18n="application-options"></span> ({{as.applicationOptions.length}})</h4>
<div data-ng-repeat="ao in as.applicationOptions" class="content">
    <div data-ng-include data-src="'partials/' + loType + '/ao_yh.html'"></div>
    <form name="levelSelectionForm-{{$id}}" id="application-form-{{as.id}}-{{$id}}" action="{{hakuAppUrl}}lomake/{{as.id}}" method="POST" class="margin-top-2" target="hakulomake">
       <input 
       type="hidden" 
       name="preference1-Opetuspiste" 
       value="{{provider.name}}" />
       <input 
       type="hidden" 
       name="preference1-Opetuspiste-id" 
       value="{{provider.id}}" />
       <input 
       type="hidden" 
       name="preference1-Koulutus" 
       value="{{ao.name}}" />
       <input 
       type="hidden" 
       name="preference1-Koulutus-id" 
       value="{{ao.id}}" />
       <input 
       type="hidden" 
       name="preference1-Koulutus-educationDegree" 
       value="{{lo.educationDegree}}" />
       <input 
       type="hidden" 
       name="preference1-Koulutus-id-sora" 
       value="{{ao.sora}}" />
       <input 
       type="hidden" 
       name="preference1-Koulutus-id-lang" 
       value="{{ao.teachLang}}" />
       <input
       type="hidden"
       name="preference1-Koulutus-id-athlete"
       value="{{provider.athleteEducation}}" />
       <input
       type="hidden"
       name="preference1-Koulutus-id-aoIdentifier"
       value="{{ao.aoIdentifier}}" />
       <button type="submit" data-ng-disabled="!applicationSystemIsActive(as)">
          <span>
             <span data-ki-i18n="apply-button-label"></span>
         </span>
     </button>

     <button type="button" id="addToBasket-{{$id}}" class="primary" 
     data-popover-placement="bottom" 
     data-popover-html-unsafe="{{popoverContent}}" 
     data-popover-title="{{popoverTitle}}" 
     data-popover-trigger="click"
     data-ng-click="addToBasket(ao.id)">
     <span>
        <span data-ki-i18n="add-to-basket-label"></span>
    </span>
</button>
</form>
<div class="margin-top-2 small" data-ki-render-application-system-active></div>
</div>

