<section class="grid16-9 offset-right-16-1 no-left-gutter wide-column">
    <div class="ribbon margin-bottom-2">
        <ul class="ribbon-content nobullet">
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('oppilaitos-anchor')" data-ki-i18n="academy-description"></a></li>
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('edut-anchor')" data-ki-i18n="accessibility-and-benefits"></a></li>
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('yhteystiedot-anchor')" data-ki-i18n="contact-information"></a></li>
        </ul>
    </div>
    <div data-ki-language-ribbon class="ribbon margin-bottom-2"></div>
    <figure data-ki-render-organization-image></figure>
    <div data-ki-social-links></div>
    <div data-ki-render-organization="provider" data-anchor="oppilaitos-anchor"></div>
    <div data-ki-render-student-benefits="provider" data-anchor="edut-anchor"></div>
    <div data-ki-render-contact-info="provider" data-anchor="yhteystiedot-anchor"></div>
</section>
<div data-ng-class="providerAsideClass" data-ng-include data-src="'partials/' + loType + '/oppilaitos-aside.html'"></div>
<div class="clear"></div>