<div class="filter">
    <div class="clear">
        <h2 class="float-left margin-top-0" data-ki-i18n="selaile-koulutuksia"></h2>
        <button 
        type="button"
        class="helplink float-right"
        data-popover="{{tipPopoverContent}}"
        data-popover-title="{{locales.tip}}"
        data-popover-trigger="click"
        data-popover-placement="right"
        ></button>
    </div>
    <div class="clear"></div>
    <div>
        <ul class="nobullet collapse-content-container">
            <li data-ng-show="loResult.ongoingFacet">
                <span data-ng-show="!ongoing && loResult.ongoingFacet.count > 0" class="facet-item">
                    <a href="javascript:void(0)" data-ng-click="setOngoing()"><span data-ki-i18n="filter-search-as-ongoing"></span> ({{loResult.ongoingFacet.count}})</a>
                </span>
                <span data-ng-show="ongoing && loResult.ongoingFacet.count > 0" class="facet-item selected">
                    <span data-ki-i18n="filter-search-as-ongoing"></span><a title="{{locales.removeFacet}}" href="javascript:void(0)" class="remove" data-ng-click="removeOngoing()"></a>
                </span>
            </li>
            <li data-ng-show="loResult.upcomingFacet">
                <span data-ng-show="!upcoming && loResult.upcomingFacet.count > 0" class="facet-item">
                    <a href="javascript:void(0)" data-ng-click="setUpcoming()"><span data-ki-i18n="{{loResult.upcomingFacet.season}}"></span> {{loResult.upcomingFacet.year}} ({{loResult.upcomingFacet.count}})</a>
                </span>
                <span data-ng-show="upcoming && loResult.upcomingFacet.count > 0" class="facet-item selected">
                    <span data-ki-i18n="{{loResult.upcomingFacet.season}}"></span> {{loResult.upcomingFacet.year}}<a title="{{locales.removeFacet}}" href="javascript:void(0)" class="remove" data-ng-click="removeUpcoming()"></a>
                </span>
            </li>
            <li data-ng-show="loResult.upcomingLaterFacet">
                <span data-ng-show="!upcomingLater && loResult.upcomingLaterFacet.count > 0" class="facet-item">
                    <a href="javascript:void(0)" data-ng-click="setUpcomingLater()"><span data-ki-i18n="{{loResult.upcomingLaterFacet.season}}"></span> {{loResult.upcomingLaterFacet.year}} ({{loResult.upcomingLaterFacet.count}})</a>
                </span>
                <span data-ng-show="upcomingLater && loResult.upcomingLaterFacet.count > 0" class="facet-item selected">
                    <span data-ki-i18n="{{loResult.upcomingLaterFacet.season}}"></span> {{loResult.upcomingLaterFacet.year}}<a title="{{locales.removeFacetLater}}" href="javascript:void(0)" class="remove" data-ng-click="removeUpcomingLater()"></a>
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="filter">
    <h4 title="{{locales.openCloseFacet}}" data-ng-click="toggleCollapsed(0)" class="collapser" data-ng-class="{open: !collapsed[0], close: collapsed[0]}">
        <span class="icon"></span>
        <span data-ki-i18n="haettava-koulutus"></span>      
    </h4>
    <div data-collapse="collapsed[0]" class="collapse">
        <div class="collapse-content-container">
            <div class="facet-tree-container">
                <ul data-facet-tree data-tree-model="loResult.edTypeFacetValues"></ul>
                <ul data-facet-tree-leaves data-tree-model="loResult.edTypeFacetValues" data-select-node="selectFacetFilter" data-node-is-selected="isSelected"></ul>
            </div>
        </div>
    </div>
</div>


 <div class="filter">
		<h4 title="{{locales.openCloseFacet}}" data-ng-click="toggleCollapsed(1)" class="collapser"
			data-ng-class="{open: !collapsed[1], close: collapsed[1]}">
			<span class="icon"></span> <span data-ki-i18n="pohjakoulutus"></span>
		</h4>
		<div data-collapse="collapsed[1]" class="collapse">
			<ul class="nobullet collapse-content-container">
				<li data-ng-repeat="fv in loResult.prerequisiteFacet.facetValues">
                <span data-ng-show="!isSelected(fv) && (fv.count > 0)" class="facet-item">
                    <a href="javascript:void(0)" data-ng-click="selectFacetFilter(fv.valueId, fv.facetField)" data-facet-title="fv"><span data-ki-i18n="{{fv.valueName}}"></span> ({{fv.count}})</a>
                </span>
                <span data-ng-show="isSelected(fv)" class="facet-item selected">
                    <span data-ki-i18n="{{fv.valueName}}" data-facet-title="fv"></span><a title="{{locales.removeFacet}}" href="javascript:void(0)" class="remove" data-ng-click="removeSelection(fv)"></a>
                </span>
            </li>
			</ul>
		</div>
	</div>

	<div class="filter">
    <h4 title="{{locales.openCloseFacet}}" data-ng-click="toggleCollapsed(2)" class="collapser" data-ng-class="{open: !collapsed[2], close: collapsed[2]}">
        <span class="icon"></span>
        <span data-ki-i18n="filter-search-location-title"></span>
    </h4>
    <div data-collapse="collapsed[2]" class="collapse">
        <div class="collapse-content-container">
            <div data-ki-location-filter></div>
        </div>
    </div>
</div>


<div class="filter">
    <h4 title="{{locales.openCloseFacet}}" data-ng-click="toggleCollapsed(3)" class="collapser" data-ng-class="{open: !collapsed[3], close: collapsed[3]}">
        <span class="icon"></span>
        <span data-ki-i18n="facet-teemat"></span>      
    </h4>
    <div data-collapse="collapsed[3]" class="collapse">
        <div class="collapse-content-container">
            <ul data-facet-tree data-tree-model=""></ul>
            <div class="facet-tree-container">
                <ul data-facet-tree data-tree-model="loResult.topicFacetValues"></ul>
                <ul data-facet-tree-leaves data-tree-model="loResult.topicFacetValues" data-select-node="selectFacetFilter" data-node-is-selected="isSelected"></ul>
            </div>
        </div>
    </div>
</div>

<div class="filter">
    <h4 title="{{locales.openCloseFacet}}" data-ng-click="toggleCollapsed(4)" class="collapser" data-ng-class="{open: !collapsed[4], close: collapsed[4]}">
        <span class="icon"></span>
        <span data-ki-i18n="facet-opetuskieli"></span>      
    </h4>
    <div data-collapse="collapsed[4]" class="collapse">
        <ul class="nobullet collapse-content-container">
            <li data-ng-repeat="fv in loResult.teachingLangFacet.facetValues">
                <span data-ng-show="!isSelected(fv) && (fv.count > 0)" class="facet-item">
                    <a href="javascript:void(0)" data-ng-click="selectFacetFilter(fv.valueId, fv.facetField)">{{fv.valueName}} ({{fv.count}})</a>
                </span>
                <span data-ng-show="isSelected(fv)" class="facet-item selected">
                    <span>{{fv.valueName}}</span><a title="{{locales.removeFacet}}" href="javascript:void(0)" class="remove" data-ng-click="removeSelection(fv)"></a>
                </span>
            </li>
        </ul>
    </div>
</div>