<div data-ng-controller="SearchFilterCtrl" data-ng-show="loResult.totalCount > 0">
<div class="filter">
    <h2 class="margin-top-0 align-center"><span data-ki-i18n="selaile-koulutuksia"></span></h2>
    <div>
        <ul class="nobullet collapse-content-container">
            <li data-ng-show="loResult.ongoingFacet">
               <span data-ng-show="!ongoing && loResult.ongoingFacet.count > 0" class="facet-item">
                    <a href data-ng-click="setOngoing()"><span data-ki-i18n="filter-search-as-ongoing"></span> ({{loResult.ongoingFacet.count}})</a>
                </span>
                <span data-ng-show="ongoing && loResult.ongoingFacet.count > 0" class="facet-item selected">
                    <span data-ki-i18n="filter-search-as-ongoing"></span> ({{loResult.ongoingFacet.count}})
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeOngoing()"></a>
                </span>
            </li>
            <li data-ng-show="loResult.upcomingFacet">
                <span data-ng-show="!upcoming && loResult.upcomingFacet.count > 0" class="facet-item">
                    <a href data-ng-click="setUpcoming()"><span data-ki-i18n="filter-search-as-upcoming"></span> ({{loResult.upcomingFacet.count}})</a>
                </span>
                <span data-ng-show="upcoming && loResult.upcomingFacet.count > 0" class="facet-item selected">
                    <span data-ki-i18n="filter-search-as-upcoming"></span> ({{loResult.upcomingFacet.count}})
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeUpcoming()"></a>
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="filter">
    <h4 data-ng-click="toggleCollapsed(0)" class="collapser" data-ng-class="{open: !collapsed[0], close: collapsed[0]}">
        <span class="icon"></span>
        <span data-ki-i18n="haettava-koulutus"></span>
    </h4>
    <div collapse="collapsed[0]" class="collapse">
        <ul class="nobullet collapse-content-container">
            <li data-ng-show="loResult != undefined && loResult.edTypeFacet.et1">
                <span data-ng-show="!isEdTypeSelected(loResult.edTypeFacet.et1) && (loResult.edTypeFacet.et1.count > 0)" class="facet-item">
                    <a href data-ng-click="selectFacetFilter(loResult.edTypeFacet.et1.valueId, loResult.edTypeFacet.et1.facetField)">
                        <span data-ki-i18n="et1"></span> ({{loResult.edTypeFacet.et1.count}})</a>
                </span>
                <span data-ng-show="isEdTypeSelected(loResult.edTypeFacet.et1)" class="facet-item selected">
                    <span><span data-ki-i18n="et1"></span> ({{loResult.edTypeFacet.et1.count}})</span>
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeSelection(loResult.edTypeFacet.et1)"></a>
                </span>
            </li>
            <li data-ng-show="loResult != undefined && loResult.edTypeFacet.et2">
                <span data-ng-show="!isEdTypeSelected(loResult.edTypeFacet.et2) && (loResult.edTypeFacet.et2.count > 0)" class="facet-item">
                    <a href data-ng-click="selectFacetFilter(loResult.edTypeFacet.et2.valueId, loResult.edTypeFacet.et2.facetField)"><span data-ki-i18n="et2"></span> ({{loResult.edTypeFacet.et2.count}})</a>
                </span>
                <span data-ng-show="isEdTypeSelected(loResult.edTypeFacet.et2)" class="facet-item selected">
                    <span><span data-ki-i18n="et2"></span> ({{loResult.edTypeFacet.et2.count}})</span>
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeSelection(loResult.edTypeFacet.et2)"></a>
                </span>
            </li>
            <li data-ng-show="loResult != undefined && loResult.edTypeFacet.et3">
                <span data-ng-show="!isEdTypeSelected(loResult.edTypeFacet.et3) && (loResult.edTypeFacet.et3.count > 0)" class="facet-item">
                    <a href data-ng-click="selectFacetFilter(loResult.edTypeFacet.et3.valueId, loResult.edTypeFacet.et3.facetField)"><span data-ki-i18n="et3"></span> ({{loResult.edTypeFacet.et3.count}})</a>
                </span>
                <span data-ng-show="isEdTypeSelected(loResult.edTypeFacet.et3)" class="facet-item selected">
                    <span><span data-ki-i18n="et3"></span> ({{loResult.edTypeFacet.et3.count}})</span>
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeSelection(loResult.edTypeFacet.et3)"></a>
                </span>
            </li>
            <li data-ng-show="loResult != undefined && loResult.edTypeFacet.et4">
                <span data-ng-show="!isEdTypeSelected(loResult.edTypeFacet.et4) && (loResult.edTypeFacet.et4.count > 0)" class="facet-item">
                    <a href data-ng-click="selectFacetFilter(loResult.edTypeFacet.et4.valueId, loResult.edTypeFacet.et4.facetField)"><span data-ki-i18n="et4"></span> ({{loResult.edTypeFacet.et4.count}})</a>
                </span>
                <span data-ng-show="isEdTypeSelected(loResult.edTypeFacet.et4)" class="facet-item selected">
                    <span><span data-ki-i18n="et4"></span> ({{loResult.edTypeFacet.et4.count}})</span>
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeSelection(loResult.edTypeFacet.et4)"></a>
                </span>
            </li>
            <li data-ng-show="loResult != undefined && loResult.edTypeFacet.et5">
                <span data-ng-show="!isEdTypeSelected(loResult.edTypeFacet.et5) && (loResult.edTypeFacet.et5.count > 0)" class="facet-item">
                    <a href data-ng-click="selectFacetFilter(loResult.edTypeFacet.et5.valueId, loResult.edTypeFacet.et5.facetField)"><span data-ki-i18n="et5"></span> ({{loResult.edTypeFacet.et5.count}})</a>
                </span>
                <span data-ng-show="isEdTypeSelected(loResult.edTypeFacet.et5)" class="facet-item selected">
                    <span><span data-ki-i18n="et5"></span> ({{loResult.edTypeFacet.et5.count}})</span>
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeSelection(loResult.edTypeFacet.et5)"></a>
                </span>
            </li>
        </ul>
    </div>
</div>

 <div class="filter">
		<h4 data-ng-click="toggleCollapsed(0)" class="collapser"
			data-ng-class="{open: !collapsed[0], close: collapsed[0]}">
			<span class="icon"></span> <span data-ki-i18n="pohjakoulutus"></span>
		</h4>
		<div collapse="collapsed[0]" class="collapse">
			<ul class="nobullet collapse-content-container">
				<li data-ng-repeat="fv in loResult.prerequisiteFacet.facetValues">
                <span data-ng-show="!isSelected(fv) && (fv.count > 0)" class="facet-item">
                    <a href data-ng-click="selectFacetFilter(fv.valueId, fv.facetField)">{{fv.valueName}} ({{fv.count}})</a>
                </span>
                <span data-ng-show="isSelected(fv)" class="facet-item selected">
                    <span>{{fv.valueName}} ({{fv.count}})</span>
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeSelection(fv)"></a>
                </span>
            </li>
			</ul>
		</div>
	</div>

	<div class="filter">
    <h4 data-ng-click="toggleCollapsed(1)" class="collapser" data-ng-class="{open: !collapsed[1], close: collapsed[1]}">
        <span class="icon"></span>
        <span data-ki-i18n="filter-search-location-title"></span>
    </h4>
    <div collapse="collapsed[1]" class="collapse">
        <div class="collapse-content-container">
            <div data-ki-location-filter></div>
            <a href="javascript:void(0)" 
            data-ki-i18n="valitse-alue-link" 
            data-popover-placement="right" 
            data-popover-title="{{valitseAlueTitle}}" 
            data-popover-template="templates/selectArea.html" 
            data-ng-click="openAreaDialog()"
            class="float-right">
            </a>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="filter">
    <h4 data-ng-click="toggleCollapsed(2)" class="collapser" data-ng-class="{open: !collapsed[2], close: collapsed[2]}">
        <span class="icon"></span>
        <span data-ki-i18n="facet-opetuskieli"></span>      
    </h4>
    <div collapse="collapsed[2]" class="collapse">
        <ul class="nobullet collapse-content-container">
            <li data-ng-repeat="fv in loResult.teachingLangFacet.facetValues">
                <span data-ng-show="!isSelected(fv) && (fv.count > 0)" class="facet-item">
                    <a href data-ng-click="selectFacetFilter(fv.valueId, fv.facetField)">{{fv.valueName}} ({{fv.count}})</a>
                </span>
                <span data-ng-show="isSelected(fv)" class="facet-item selected">
                    <span>{{fv.valueName}} ({{fv.count}})</span>
                    <a href="javascript:void(0)" class="remove" data-ng-click="removeSelection(fv)"></a>
                </span>
            </li>
        </ul>
    </div>
</div>
</div>