<section class="content-container grid16-16 margin-bottom-2">
    <div data-ki-breadcrumb="breadcrumb-search-results" id="breadcrumb"></div>
    <div data-ng-include="'partials/search/header.html'"></div>
    <div data-ng-controller="SearchFilterCtrl">
	    <div data-ng-include="'partials/search/facet-selections.html'"></div>
	    <div class="grid16-5">
	        <div data-ng-include="'partials/search/facet-filters.html'"></div>
	    </div>
	    <div class="grid16-11">
	        <div data-ng-include="'partials/search/search-results.html'"></div>
	    </div>
	</div>
<div class="clear"></div>
</section>