<!-- <div ng-include src="'partials/pageheader.html'"></div> -->
<section class="content-container grid16-16 margin-bottom-2">
    <div data-ki-breadcrumb="breadcrumb-search-results" id="breadcrumb"></div>
    <div id="facetSelections" class="grid16-16" data-ng-show="areThereSelections()" data-ng-controller="SearchFilterCtrl">
    	<ul>
    		<li><span data-ki-i18n="valitut-rajaukset"></span>:</li>
    		<li data-ng-show="ongoing"><span data-ki-i18n="haun-tila"></span>:  <span data-ki-i18n="filter-search-as-ongoing"></span> <a href ng-click="removeOngoing()">x</a></li>
    		<li data-ng-show="upcoming"><span data-ki-i18n="haun-tila"></span>:  <span data-ki-i18n="filter-search-as-upcoming"></span> <a href ng-click="removeUpcoming()">x</a></li>
    		<li data-ng-repeat="fs in facetSelections">
    			<span data-ki-i18n="{{fs.facetField}}"></span>: {{fs.valueName}} <a href ng-click="removeSelection(fs)">x</a>
    		</li>
    		<li data-ng-repeat="loc in locations">
    			<span data-ki-i18n="location-rajaus"></span>: {{loc.name}} <a href ng-click="removeLocation(loc)">x</a>
    		</li>
    	</ul>
    </div>
    <div class="grid16-16">
        <h1 class="inline-block"><span data-ki-i18n="search-result-title"></span> "{{queryString}}"</h1>
        <h2 class="inline-block margin-left-2">({{loResult.totalCount}} <span data-ki-i18n="search-result-count-unit"></span>)</h2>
    </div>
    <div class="grid16-5" data-ng-controller="SearchFilterCtrl" data-ng-show="loResult.totalCount > 0">
    	<h2 class="margin-top-0"><span data-ki-i18n="selaile-koulutuksia"></span></h2>
    	<div class="filter margin-bottom-2">
            <ul class="nobullet">
                <li data-ng-show="loResult.ongoingFacet">
                	<span data-ng-show="!ongoing && loResult.ongoingFacet.count > 0"><a href ng-click="setOngoing()"><span data-ki-i18n="filter-search-as-ongoing"></span></a> {{loResult.ongoingFacet.count}}</span>
                	<span data-ng-show="ongoing || loResult.ongoingFacet.count < 1"><span data-ki-i18n="filter-search-as-ongoing"></span> {{loResult.ongoingFacet.count}}</span>
                </li>
                <li data-ng-show="loResult.upcomingFacet">
                	<span data-ng-show="!upcoming && loResult.upcomingFacet.count > 0"><a href ng-click="setUpcoming()"><span data-ki-i18n="filter-search-as-upcoming"></span></a> {{loResult.upcomingFacet.count}}</span>
                	<span data-ng-show="upcoming || loResult.upcomingFacet.count < 1"><span data-ki-i18n="filter-search-as-upcoming"></span> {{loResult.upcomingFacet.count}}</span>
                </li>
            </ul>
        </div>
    	<div>
    		
    		<h4 data-ki-i18n="filter-search-location-title"></h4>
        	<div data-ki-location-filter></div>
        	
    		<h4><span data-ki-i18n="facet-opetuskieli"></span></h4>
    		<ul class="nobullet">
    			<li data-ng-repeat="fv in loResult.teachingLangFacet.facetValues">
    				<span data-ng-show="!isSelected(fv)"><a href ng-click="selectFacetFilter(fv.valueId, fv.facetField)">{{fv.valueName}}</a> ({{fv.count}})</span>
    				<span data-ng-show="isSelected(fv)">{{fv.valueName}} ({{fv.count}})</span>
    			</li>
    		</ul>
    	</div>
    </div>
    <div class="grid16-11">
        <div class="sort-area">
            <div class="sort-item">
                <label for="itemsPerPage" data-ki-i18n="sort-criteria-sort-label"></label>
                <select 
                    data-ng-model="sortCriteria"
                    data-ng-options="key as value for (key, value) in sortCriterias"
                    data-ng-change="updateSortCriteria()">
                </select>
            </div>
            <div class="sort-item">
                <label for="itemsPerPage" data-ki-i18n="sort-criteria-items-per-page-label"></label>
                <select 
                    data-ng-model="itemsPerPage"
                    data-ng-options="value for value in pageSizes"
                    data-ng-change="updateItemsPerPage()">
                </select>
            </div>
            <div class="clear"></div>
        </div>
        <div data-ng-switch="loResult.totalCount">
            <div data-ng-switch-when="0">
                <div class="notification info">
                    <h3 data-ki-i18n="no-search-results"></h3>
                    <span data-ki-i18n="no-search-results-info"></span>
                </div>
            </div>
            <div data-ng-switch-default>
                <ul id="search-results">
                    <li data-ng-repeat="lo in loResult.results" data-search-result>
                    </li>
                </ul>
                <div data-ng-show="showPagination">
                <div data-pagination
                    data-on-select-page="changePage(page)" 
                    data-num-pages="maxPages"
                    data-total-items="totalItems"
                    data-items-per-page="itemsPerPage"
                    data-rotate="false"
                    data-max-size="5"
                    data-page="currentPage" 
                    data-first-text="<<"
                    data-next-text=">"
                    data-previous-text="<"
                    data-last-text=">>">
                </div>
            </div>
        </div>
    </div>
</div>
<!--<aside class="grid16-5" id="column-narrow">
    <form name="searchResultFilters" novalidate data-ng-controller="SearchFilterCtrl">
        <h2 class="margin-top-0" data-ki-i18n="filter-title"></h2>
        <div class="filter margin-bottom-2">
            <ul class="nobullet">
                <li>
                    <input type="checkbox" name="kaynnissa" id="checkbox1" data-ng-model="ongoing" data-ng-change="change()">
                    <label for="checkbox1" data-ki-i18n="filter-search-as-ongoing"></label>
                </li>
            </ul>
        </div>

        <h4 class="margin-top-0 margin-bottom-0" data-ki-i18n="filter-search-title"></h4>
        <small class="margin-bottom-2 block cursive" data-ki-i18n="filter-search-subtitle"></small>
        <div class="filter margin-bottom-2">
            <ul class="nobullet">
                <li>
                    <input type="radio" name="pohjakoulutus" id="radio1" value="PK" data-ng-model="prerequisite" data-ng-change="change()"/>
                    <label for="radio1" data-ki-i18n="filter-search-elementary"></label>
                </li>
                <li>    
                    <input type="radio" name="pohjakoulutus" id="radio2" value="YO" data-ng-model="prerequisite" data-ng-change="change()"/>
                    <label for="radio2" data-ki-i18n="filter-search-upper-secondary"></label>
                </li>
            </ul>
        </div>
        
    </form>
</aside>-->
<div class="clear"></div>
</section>