<div class="container">
    <div data-ki-breadcrumb="breadcrumb-search-results" id="breadcrumb"></div>
    <h1>
    	<span data-ki-i18n="search-result-title"></span> &rdquo;<span data-ng-bind-html="tabTitles.queryString | unsafe"></span>&rdquo; ({{tabTitles.totalCount}} <span data-ki-i18n="search-result-count-unit"></span>)
    </h1>
    <div id="search-tablist" data-tabset role="tablist">
        <div data-tab data-heading="{{tabTitles.learningOpportunities}}"
             data-select="initSearch()"
             data-active="tabs[0].active"
             title="{{tabTitles.learningOpportunitiesTooltip}}"
             tabindex="0"
             aria-selected="true"
             aria-controls="search-panel1"
             role="tab"
             class="tab" >
            <div data-ng-controller="SearchFilterCtrl" role="tabpanel" id="search-panel1">
                <div class="row margin-vertical-default">
                    <div class="col-md-16">
                        <span data-ki-i18n="search-result-title-description"></span>
                    </div>
                </div>
                <div data-ng-include="'partials/search/facet-selections.html'"></div>
                <div class="row margin-vertical-default">
                    <div data-ng-include="'partials/search/facet-filters.html'" class="col-md-5"></div>
                    <div data-ng-include="'partials/search/search-results.html'" class="col-md-11"></div>
                </div>
            </div>
        </div>
        
        <div data-ng-controller="ArticleSearchCtrl"
             data-tab data-heading="{{tabTitles.articles}}"
             data-select="initSearch()"
             data-active="tabs[1].active"
             title="{{tabTitles.articlesTooltip}}"
             tabindex="-1"
             aria-selected="false"
             aria-controls="search-panel2"
             role="tab"
             class="tab" >
            <div role="tabpanel" id="search-panel2">
            	<div data-ng-include="'partials/search/articles/facet-selections.html'"></div>
                <div class="row">
                    <div data-ng-include="'partials/search/articles/facet-filters.html'" class="col-md-5"></div>
                    <div data-ng-include="'partials/search/articles/search-results.html'" class="col-md-11"></div>
                </div>
            </div>
        </div>
	</div>
</div>