<div class="row">
    <div class="col-xs-16 margin-vertical-small">
        <div>
            <!-- käytä järjestelmän hakulomaketta -->
            <button 
                data-ng-if="as.useSystemApplicationForm" 
                type="submit" 
                data-ng-disabled="!ao.canBeApplied" 
                class="btn btn-default"
                data-ki-i18n="apply-button-label-additional">
            </button>

            <!-- linkki ulkoiseen hakulomakkeesees -->
            <div data-ng-if="as.applicationFormLink">
                <a data-ng-if="ao.canBeApplied" data-ng-href="{{as.applicationFormLink}}" title="{{tooltips.externalApplicationForm}}" target="_blank">
                    <i class="kicon-link-ext-alt"></i>
                    <span data-ki-i18n="apply-button-label"></span>
                </a>
                <span data-ng-if="!ao.canBeApplied" class="text-muted">
                    <i class="kicon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
                </span>
            </div>
        </div>
    </div>
</div>