{% set locales = locales["localessv"] %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="sv">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="{{ locales["meta-content"] }}">
    {% block style %}
    <link href="../favicon16.ico" rel="shortcut icon" />
    <link href="../favicon32.ico" rel="apple-touch-icon-precomposed" />
    <link rel="stylesheet" href="../style.css" />
    {% endblock %}
    <title>{{ locales["page-title"] }}: {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        {% block header %}
        <div class="top">
            {% block logo %}
            <a href="../index_sv.html"><img src="../opintopolku-sv.png" alt="{{ locales["header-home"] }}"/></a>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    <div id="page">
        <div id="toplinks">
            <ul class="nobullet">
                <li>
                {% block header_home %}
                    <a class="block" href="../index_sv.html">{{ locales["header-home"] }}</a>
                {% endblock %}
                </li>
                <li>
                    <a class="block" href="/wp/sv/">{{ locales["to-full-version"] }}</a>
                </li>
            </ul>
        </div>
        <div id="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
        <h1>{% block maintitle %}{% endblock %}</h1>
        <div id="navi">{% block navi %}{% endblock %}</div>
        <div id="tabs-header" class="tabs">{% block tabs %}{% endblock %}</div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="pager">{% block pager %}{% endblock %}</div>
        <div id="tabs-footer" class="tabs">{{ self.tabs() }}</div>
        <div id="footer">
            {% block footer %}
            {{ locales["footer-service-providers"] }}<br />
            <a href="http://www.minedu.fi/OPM/?lang=sv">{{ locales["footer-provider-1"] }}</a>
            <a href="http://www.oph.fi/startsidan">{{ locales["footer-provider-2"] }}</a>
            {% endblock %}
        </div>
    </div>
    {% block piwik %}
    <script src="../piwik.js" type="text/javascript"></script>
    {% endblock %}
</body>