<section class="col-md-11">
    <div data-ki-language-ribbon data-languages="selectedLOI.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>
    <div data-ng-repeat="as in selectedLOI.applicationSystems">
        <div data-ng-repeat="ao in as.applicationOptions">
            <div>
                <h2>{{ao.name}}</h2>
                <div class="margin-vertical-default">
                    <span>{{as.name}}</span> (<span data-ki-ao-application-time data-startdate="ao.applicationStartDate" data-enddate="ao.applicationEndDate" data-hakutapa="as.hakutapa" data-period-name="ao.applicationPeriodName"></span>)
                </div>
            </div>
            <div data-ki-collapse-text-block data-content="ao.selectionCriteria" data-title="selection-criteria"></div>
            <div data-ki-collapse-block data-title="entrance-exam" data-content="ao.exams">
                <div data-ki-exams></div>
            </div>
            <div data-ki-collapse-block data-title="required-attachments" data-content="ao.attachments">
                <div data-ki-attachments></div>
            </div>
            <div data-ki-collapse-text-block data-title="further-application-info" data-content="ao.additionalInfo"></div>
            <hr/>
        </div>
    </div>
    <div data-ki-collapse-block data-title="info-center" data-content="provider.applicationOffice">
        <div data-ki-info-center-address></div>
    </div>
</section>
<div class="col-md-5" data-ng-class="applyFormClass" data-ng-include data-src="partialCommonUrl + 'as/as.html'" data-ng-controller="ApplicationCtrl"></div>