sudo: required

language: java

jdk:
- openjdk8

services:
- docker

cache:
  directories:
  - $HOME/.m2

env:
  global:
  # ARTIFACTORY_USERNAME
  - secure: "IjUlTpuGEnWQvptXFmDLKyhy6tWubkTdLVFvh3OWZeO74QPCNJm+KEOy8CyFrVgpz7957U+XXVXT/Z6Ou7elfhhd16rZFcov+X5qkEyJ53KgzxfVx2nG8c7zX1R5L31/f/fAj0nZ2tjv9bi+AVmLp2xkZYqyFQ3F8qbsUO9YoJdvv2ZNpnjKfvgvrHs+NGz/GOjdhGh7YGHyFiwE7JungIN21az5DGkvsQKi0u0yvURK8kXvkhBucItUGXdi9qzLgzBvF+G6QVEdZAQ7NPLWaYUaezqnydG+Z05fLJaMmTcrIKJZIzqT+zVuRsU9tNq2vYXjQA3Vzx381Hmmnwd3wHnZaHZuKb6IdaNrAJnDg53HxA6uPAdWna1WihT1yljHvELaUehC6VhMV12JOa3AWJdsPehbqXLS5M7v7+rWBhJ34nOORuVUHYxTSzLHD/FAMQKOLj1+67ocGC5XEnft/jtzs1ALOCbe7cPxkMHtvh0Zo5HpRIy+gh1k5gKw+/POPz4OK0LrPgZVWjiOEPTEUxmB2pc5x8jNb0NTLBqu0GbZ3APjerzIcyMszhHaN6e5mYIb6c2hZQPuGxyzDmWoIHjButd7queEu35B1H6E/itHuFik7VNn+kycBx93EcRaE7Fk/Htt4XfzJ1Z1DgAG2KKQ+285Gq8t1iKX34TKZZ4="
  # ARTIFACTORY_PASSWORD
  - secure: "bss30mDl86wXer4KyUT8RHkCWzuo+1LVhDyNGxZc5oUqE/iqvZAJueeWWdCbHTeyArocODmt5a0CCyQR8eaYtlB3USLX2UrZzn5UsVsspFx6OKoejEsb7WuC6Winb6GsnLRsivYrJGld+vEa6++oI0MNGqtilg121RXT53mlAhmu6Gs1dxdgF6MNw/Lg+K5zyMdRv0CcVeyUWqI/SIhIFx8CjXO01xZIzb6Fy8u3gvLlGN1hQmYVxVZ/SPnmMSc8GawL9zZm8mI08GJJDkeVVd9ZZZDBdnVolo1ZpIYX25Mjma2lII/2bVFKJPAdcaFT7hjX0NG9CZ4QfUv0UvP4+4lhTDkZxehIV5IY9GS62vASb1Snc4U0aj1574+YGhMfe8jacQZgId+X8s2loCobOIBaDLz1yKPsygiWdUJ2HGM/9SJc6t48vtbp1Mqa4JB8/cg8H+k6XP4VYkRKSmv8PnHfIaTSs53yVzZwAb1gFBd74v2dRb/76qzzrnC8rf/S8rQ/vp4NkXJZuRUxHE9J+pNr0adiIuax8+PX/ZXGHtK3T0k5o5CDDPW4dHiMKvTLMgJ6MFKzTGzdKWHAmcwf7hPRYKF/kGVl4ddwdmpy9Iu80HG7+qYt0Rv/zwqLdLWKxXyOP47kuMrVjKAzZh/ryG7l6Juq5iW3owR7U7ksV0g="
  # AWS_ACCESS_KEY_ID
  - secure: "sCfD/1uibPn8vAWZUQV4D+j1EqCE+Cpp+dDYkMriDMwiHhUrsyGbLnPSXYkHMl7B1yz2QPHmxfyVImW9oLfBONGWAcQx+0ybntYQRDAcbJzUQiHCJCa3cnQfaauSzLtxaaJ3Bol00mpmpQVULzhJ3hTxok5Bsup6Z/rq4VlUzCwRpVPUk/u/mmYO52LLkDnUX7Y2+eBdCMqyHh6khXmxn5tk9VXm43K8oa4XNG+vHXFEZAthgRBxPpDB4uvRcDukUuwNOAjvqFtgev30aajfgXgO+12CmxabHDO9Y89vTnRnyiWDwbSSnBbjBLcV+OQlnbIJCkF0hMNo9QmiX2cGbni0kA39yw5ppsOrLtsgKv/jzS/l4cYAz93Fo+5nIZZTpiVk152o613Jt5O58C25tdQjv57xhXmAteZuPtKLagZ4qNIprfHTFxLuccRjzK6Vmo0Kt3h3wrDSVwJArUtpyoKmXbg49bI03pAppTXTBVHfSSzT7C8gpWbY5cZmxpnkvgOiGsVZK1xYpexR/9GYuYr9QV+MafVVy9qnJfkijnapWMJ85uMzpZ63HZjqSffEpU9NaPSc7LWSDSUXj0wqlq+1U4hIpOaN6SyJNo8ZlHOIBGeJT+aMfV2v0CHXGdcfen1K+RVljmNobDgOhiztrs5A0g5mGiTNFxP8bUPAcX4="
  # AWS_SECRET_ACCESS_KEY
  - secure: "sGqx8ZVOJb4Ss8l8AW8KnmRug4Xhbm5i3LcHB/0pIJGEoJuEPAgbeXR3dZDQ3X+mmqR6793ntrXrXRka2zStZ63s3zo95U1pM9c3jOtbZe03HKDLWFnGO2A6Z6AY6z14qwqfdQ/NIwpYy4jGD+WwNZLN7H8Kx0AIsparp/IexD87wQY7QNwUEKJVZc76zIxUTXBnQshK/+kw62lbmJ8TvCkYnYO83q/8NdO16bNNNQpA35bGtaEGLwvR7dAiwK1QTzTSsBviQpbIEn19N7wU68sft5WRDjxyrl90KocWdYQChNQkAynPLVz5HlJ2EivUMqJXR7crjvZEie+6kB9356JDWU28iGkUMqkkufnq0qU8+NP32HumffR55IL+7lEwyq9zeXGTh3qGEWVPFk5t/D5aL1CFjgqv6jb0T4X6wSAMNoxYiTYVh7afVwShTDjYnK6QrvqxISMjvZce4wz2UXwII6+TD7QxN3dbEZs+qkv3KjlJEjvTQdnbuxtLu1MInwMF22/5VckY07aiUkiPGhfsZ+hlRRBFLz2wUazA6a1Ow28T3tjrbxlqOzncnd3biq+OParc+BijeG/lQGDi2qr52ieI4OC543rYAZNxgZuco4S94quR0HHEpocdmE7DZc7sdCLi8/t4hRt+ub/MavgZRloNti+yV3aE5H4dDUU="

install:
- git clone https://github.com/Opetushallitus/ci-tools.git
- source ci-tools/common/setup-tools.sh
- sudo sh -c "printf '\n%s penaali.hard.ware.fi\n' $(dig +short artifactory.opintopolku.fi|head -n1) >> /etc/hosts"
- export TZ=Europe/Helsinki

script:
- mvn clean verify -Pbuildversion.txt -B -Dbranch=${TRAVIS_BRANCH} -Drevision=${TRAVIS_COMMIT} -DbuildNumber=${TRAVIS_BUILD_NUMBER}

- cp -v src/main/resources/oph-configuration/koulutusinformaatio.properties.template src/main/resources/oph-configuration/koulutusinformaatio-indeksoija.properties.template

- mv -v koulutusinformaatio-app/target/koulutusinformaatio-app.war $DOCKER_BUILD_DIR/artifact/ROOT.war
- cp -vr src/main/resources/oph-configuration $DOCKER_BUILD_DIR/config/

- export BASE_IMAGE="baseimage-war-openjdk8:master"
- ./ci-tools/common/pull-image.sh
- ./ci-tools/build/build-war.sh koulutusinformaatio

- export BASE_IMAGE="baseimage-war-openjdk8:master"
- ./ci-tools/common/pull-image.sh
- ./ci-tools/build/build-war.sh koulutusinformaatio-indeksoija

deploy:
- provider: script
  script: mvn deploy -pl koulutusinformaatio-api -DskipTests --settings ci-tools/common/maven-settings.xml
  skip_cleanup: true
  on:
    branch: master
- provider: script
  script: ./ci-tools/build/upload-image.sh koulutusinformaatio && ./ci-tools/build/upload-image.sh koulutusinformaatio-indeksoija
  on:
    all_branches: true
