<div class="container-equal-height container-xs-height">
    <div class="row row-xs-height">
        <div class="col-xs-10 col-xs-height">
            <h2 title="{{locales.openEducation}}">
                <a href="{{lo.linkHref}}">{{lo.name}}, {{lo.credits}}</a>
            </h2>
            <div data-ng-show="!lo.educationType">
                <span class="italic" data-ng-if="lo.prerequisiteCode != 'ER'" data-ki-i18n="et3"></span>
                <span class="italic" data-ng-if="lo.prerequisiteCode == 'ER'" data-ki-i18n="et4"></span>
                <br />
            </div>
            <span data-ng-show="lo.prerequisite">
                <span data-ki-i18n="application-prerequisite" data-show-colon="true"></span>
                <span>{{lo.prerequisite}}</span><br />
            </span>
            <div data-ng-repeat="lopName in lo.lopNames">
            	<span>{{lopName}}</span><br/>
            </div>
            <span>{{lo.homeplace}}</span>
        </div>
        
        <div class="col-xs-6 col-xs-height text-right" data-ng-include="'js/directives/SearchResult/searchResultCollapserCol.html'"></div>
    </div>
</div>

<div data-extended-searchresult-data="tutkinto" data-toggle-collapse class="search-result-extended-container">
    <div class="row margin-vertical-default">
        <div class="col-xs-16 col-md-2">
            <div data-sr-theme-icons></div>
        </div>
        <div class="col-xs-16 col-md-7">
            <div data-ng-if="!extendedLO.lo.containsPseudoChildLOS" data-sr-extended-koulutustarjonta data-template-type="tutkinto"></div>
        </div>

        <div class="col-xs-16 col-md-7">
            <h4 data-ki-i18n="basic-information"></h4>
            <div data-sr-basic-information data-template-type="tutkinto"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-16">
            <div data-sr-hakukohteet>
                <div data-sr-extended-options></div>
            </div>
        </div>
    </div>
</div>
