<header id="siteheader" data-ng-controller="HeaderCtrl">
    <div class="logo-bg">
        <div class="container">
           	<img data-ng-src="{{images.logo}}"/>
           	<h1><span data-ki-i18n="esikatselu"></span></h1>
            <div class="actions">
                <ul data-ng-controller="LanguageCtrl">
                    <li><a title={{locales.opintopolkufi}} href="javascript:void(0)" data-ng-click="changeLanguage('fi')" data-ki-i18n="language-fi"></a></li>
                    <li><a title={{locales.opintopolkusv}} href="javascript:void(0)" data-ng-click="changeLanguage('sv')" data-ki-i18n="language-sv"></a></li>
                </ul>
            </div>
        </div>
    </div>
    
</header>