<div class="result-content">
   <h2 title="{{locales.openEducation}}"><a href="{{lo.linkHref}}">{{lo.name}}, {{lo.credits}}</a></h2>
	<span class="italic" data-ki-i18n="et3"></span><br />
    <span class="italic" data-ng-show="lo.prerequisite">
       	<span data-ki-i18n="application-prerequisite" data-show-colon="true"></span>
        <span>{{lo.prerequisite}}</span><br />
    </span>
    <span>{{lo.lopName}}</span>
</div>
<span data-ki-as-state class="state-label">&nbsp;</span>
<div class="clear"></div>

<div data-extended-searchresult-data="tutkinto" data-toggle-collapse>
    <div class="grid16-8">
        <h4 class="margin-top-0">Koulutustarjonta</h4>
        <div data-sr-extended-koulutustarjonta></div>
    </div>

    <div class="grid16-8">
        <h4 class="margin-top-0">Perustiedot</h4>
        <div data-sr-basic-information class="margin-bottom-2"></div>
        <div data-sr-hakukohteet>
            <div data-sr-extended-options></div>
        </div>
        
    </div>

    <div class="clear"></div>
</div>
