<div data-ng-if="!as.useSystemApplicationForm && !as.ataruFormKey && (ao.applicationFormLink || ao.paid || ao.tunnistusKaytossa)">
    <span data-ng-if="ao.canBeApplied">
        <a data-ng-if="ao.paid || ao.tunnistusKaytossa" data-ng-href="/hakuperusteet/ao/{{ao.id}}" title="{{locales.externalApplicationForm}}" target="_blank">
            <i class="kicon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
        </a>
        <a data-ng-if="!(ao.paid || ao.tunnistusKaytossa)" data-ng-href="{{ao.applicationFormLink}}" title="{{locales.externalApplicationForm}}" target="_blank">
            <i class="kicon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
        </a>
    </span>
    <span data-ng-if="!ao.canBeApplied" class="text-disabled">
        <i class="kicon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
    </span>
</div>