<section class="col-md-11">
    <div class="ribbon">
        <ul class="ribbon-content list-unstyled">
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('oppilaitos-anchor')" data-ki-i18n="academy-description"></a></li>
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('esteettomyys-anchor')" data-ki-i18n="accessibility-anchor"></a></li>
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('edut-anchor')" data-ki-i18n="student-benefits-anchor"></a></li>
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('yhteystiedot-anchor')" data-ki-i18n="contact-information"></a></li>
        </ul>
    </div>
    <figure data-ki-organization-image></figure>
    <div data-ki-social-links></div>
    <div data-ki-language-ribbon data-languages="lo.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>
    
    <div data-ki-collapse-block data-title-value="provider.name" data-content="provider" data-anchor="oppilaitos-anchor">
        <div data-ki-organization></div>
    </div>
    <div data-ki-collapse-text-block data-title="accessibility-and-learning-support" data-content="provider.accessibility" data-anchor="esteettomyys-anchor"></div>
    <div data-ki-collapse-block data-title="student-benefits" data-content="provider" data-anchor="edut-anchor">
        <div data-ki-student-benefits></div>
    </div>

    <div data-ki-collapse-block data-title="contact-information" data-content="provider" data-anchor="yhteystiedot-anchor">
        <div data-ki-contact-info></div>
    </div>
    <!--<div data-ng-include data-src="'partials/organisation/content.html'"></div>-->
</section>

<section data-ng-repeat="additionalProvider in lo.additionalProviders" class="col-md-11">
	<hr/>
    <div class="ribbon">
        <ul class="ribbon-content list-unstyled">
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('{{additionalProvider.id}}oppilaitos-anchor')" data-ki-i18n="academy-description"></a></li>
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('{{additionalProvider.id}}esteettomyys-anchor')" data-ki-i18n="accessibility-anchor"></a></li>
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('{{additionalProvider.id}}edut-anchor')" data-ki-i18n="student-benefits-anchor"></a></li>
            <li><a href="javascript:void(0)" data-ng-click="scrollToAnchor('{{additionalProvider.id}}yhteystiedot-anchor')" data-ki-i18n="contact-information"></a></li>
        </ul>
    </div>
    <figure data-ki-organization-image></figure>
    <div data-ki-social-links></div>
    <div data-ki-language-ribbon data-languages="lo.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>
    
    <div data-ki-collapse-block data-title-value="additionalProvider.name" data-content="additionalProvider" data-anchor="{{additionalProvider.id}}oppilaitos-anchor">
        <div data-ki-organization></div>
    </div>
    <div data-ki-collapse-text-block data-title="accessibility-and-learning-support" data-content="additionalProvider.accessibility" data-anchor="{{additionalProvider.id}}esteettomyys-anchor"></div>
    <div data-ki-collapse-block data-title="student-benefits" data-content="additionalProvider" data-anchor="{{additionalProvider.id}}edut-anchor">
        <div data-ki-student-benefits></div>
    </div>

    <div data-ki-collapse-block data-title="contact-information" data-content="additionalProvider" data-anchor="{{additionalProvider.id}}yhteystiedot-anchor">
        <div data-ki-contact-info></div>
    </div>
    <!--<div data-ng-include data-src="'partials/organisation/content.html'"></div>-->
</section>
<div class="col-md-5" data-ng-class="providerAsideClass" data-ng-include data-src="partialUrl + 'oppilaitos-aside.html'"></div>