<section data-ng-show="lo.hasSelectedChild" class="col-md-9">
    <div class="panel panel-gray">
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>
                    <span data-ki-i18n="education-starts" data-show-colon="true"></span>
                    <strong data-ng-show="lo.startDate">{{lo.selectedChild.startDate}}</strong>
                    <strong data-ng-hide="lo.startDate">{{lo.selectedChild.startSeason}} {{lo.selectedChild.startYear}}</strong>
                </li>
                <li>
                    <span data-ki-i18n="language-of-instruction" data-show-colon="true"></span>
                     <span data-ng-repeat="tl in lo.selectedChild.teachingLanguages">
                        <strong>{{tl}}</strong><span data-ng-show="!$last">,</span>
                    </span>
                </li>
                <li>
                    <span data-ki-i18n="chargeable" data-show-colon="true"></span>
                    <strong data-ki-i18n="chargeable-{{lo.selectedChild.chargeable}}"></strong>
                </li>
                                <li>
                <span data-ki-i18n="organizer" data-show-colon="true"></span>
                    <strong>{{provider.name}}</strong>
                </li>
                
            </ul>
        </div>
    </div>
    
    <div data-ki-language-ribbon data-languages="lo.selectedChild.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>
	
	<div data-ki-collapse-text-block data-title="goals-of-education" data-content="lo.selectedChild.goals" data-closed="false"></div>
	<div data-ki-collapse-text-block data-title="structure-of-studies" data-content="lo.selectedChild.structure" data-closed="false"></div>
	<!--<div data-ki-collapse-text-block data-title="selection-of-degree-program" data-content="selectedLOI.selectingDegreeProgram" data-closed="false"></div>-->
	<!-- <div data-ki-collapse-block data-title="base-education-{{selectedLOI.prerequisite.value}}" data-content="selectedAs.children" data-closed="false">
		<div data-ki-children></div>
	</div>-->
	<div data-ki-collapse-text-block data-title="access-to-further-studies" data-content="lo.accessToFurtherStudies" data-closed="false"></div>
</section>


<section data-ng-show="!lo.hasSelectedChild" class="col-md-9">
    <!-- <div data-ki-prerequisite-selection-ribbon></div>-->

    
    <div data-ki-language-ribbon data-languages="lo.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>
	<div data-ki-collapse-text-block data-title="goals-of-education" data-content="lo.goals" data-closed="false"></div>
	<!--<div data-ki-collapse-text-block data-title="selection-of-degree-program" data-content="selectedLOI.selectingDegreeProgram" data-closed="false"></div>-->
	<!-- <div data-ki-collapse-block data-title="base-education-{{selectedLOI.prerequisite.value}}" data-content="selectedAs.children" data-closed="false">
		<div data-ki-children></div>
	</div>-->
	<div data-ki-collapse-text-block data-title="access-to-further-studies" data-content="lo.accessToFurtherStudies" data-closed="false"></div>
</section>
<div class="col-md-5 col-md-offset-2" data-ng-class="applyFormClass" data-ng-include data-src="partialCommonUrl + 'as/as.html'" data-ng-controller="ApplicationCtrl"></div>