<section data-ng-show="lo.hasSelectedChild" id="main-info">
    <div>
        <h4>{{provider.name}}</h4>
        <span class="block">{{lo.educationDomain}}</span><br/>
        <span data-ng-show="lo.parentId">
        	<a href="#!/ammatillinenaikuiskoulutus/{{lo.parentId}}">{{lo.name}}</a>
        		<!-- PREVIEW -->
    			<span data-ng-if="lo.preview" data-ki-preview-status-label="parent.status" data-lang="virkailijaLang"></span>
    			<!-- END PREVIEW -->
    	</span>
    </div>
    
    <h1 data-ng-show="lo.name" class="inline">{{lo.name}}<span data-ng-show="lo.educationKind">, {{lo.educationKind}}</span></h1>
    
    
    <!-- PREVIEW -->
    <div data-ng-if="lo.preview" class="inline preview-actions">
        <span data-ki-preview-status-label="lo.selectedChild.status" data-lang="virkailijaLang"></span>
        <a class="btn btn-info" href="{{lo.tarjontaEditUrl}}" data-ki-i18n="tarjonta-muokkaa-koulutus" data-lang="{{virkailijaLang}}"></a>
    </div>
    <!-- END PREVIEW -->
    
    <h3 data-ng-show="lo.selectedChild.name && lo.osaamisala">{{lo.selectedChild.name}}</h3>
    
    <div data-ki-sibling-ribbon data-siblings="lo.children" class="ribbon"></div>
</section>
<section data-ng-show="!lo.hasSelectedChild" id="main-info" class="row">
    <div class="col-md-16">
        <div>
            <h4>{{provider.name}}</h4>
            <span>{{lo.educationDomain}}</span>
        </div>
        <h1>{{lo.name}}, {{lo.educationKind}}</h1>
       <div data-ki-child-ribbon data-children="lo.children" type="loType" class="ribbon"></div>
    </div>
</section>