<div data-ng-if="!isErikseenHaettava(as)">
    <div class="row margin-vertical-default">
        <div class="col-md-16">
            <span class="pull-right">{{getNotificationText(as.maxApplicationOptions)}}</span>
        </div>
    </div>
    <div class="row margin-vertical-default hide-in-print">
        <div class="col-md-16">
            <span class="pull-right" data-ki-i18n="application-basket-fill-form-notification-2"></span>
        </div>
    </div>

        <form class="hide-in-print" action="{{hakuAppUrl + 'lomake/' + as.applicationSystemId}}" id="application-form-{{as.applicationSystemId}}" method="post" target="hakulomake">
            <span data-ng-repeat="item in as.applicationOptions">
                <input type="hidden" name="preference{{$index + 1}}-Opetuspiste" value="{{item.providerName}}"/>
                <input type="hidden" name="preference{{$index + 1}}-Opetuspiste-id" value="{{item.providerId}}"/>
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-id-athlete" value="{{item.athleteEducation}}"/>
                <input type="hidden" name="preference{{$index + 1}}-Koulutus" value="{{item.name}}"/>
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-id" value="{{item.id}}"/>
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-educationDegree" value="{{item.educationDegree}}"/>
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-id-sora" value="{{item.sora}}" />
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-id-lang" value="{{item.teachLang}}" />
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-id-aoIdentifier" value="{{item.aoIdentifier}}" />
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-id-kaksoistutkinto" value="{{item.kaksoistutkinto}}" />
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-id-vocational" value="{{item.vocational}}" />
                <input type="hidden" name="preference{{$index + 1}}-Koulutus-id-educationcode" value="{{item.educationCodeUri}}" />
            </span>

            <div class="row">
                <div class="col-md-16">
                    <div data-ng-if="as.applicationOptions.length > as.maxApplicationOptions">
                        <div class="alert alert-warning alert-icon">
                            <div class="alert-body">{{getOverflowWarning(as.maxApplicationOptions)}}</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row margin-vertical-default">
                <div class="col-md-16">
                    <!-- käytä järjestelmän hakulomaketta -->
                    <button
                        data-ng-if="as.useSystemApplicationForm"
                        class="btn btn-primary pull-right margin-left-default"
                        data-ng-disabled="isApplicationSystemDisabled(as)"
                        type="submit"
                        data-ki-i18n="application-basket-fill-form">
                    </button>

                    <!-- linkki ulkoiseen hakulomakkeeseen -->
                    <div data-ng-include="'partials/lo/common/externalApplicationFormLink.html'"></div>

                    <a href="javascript:void(0)" data-ng-click="removeApplicationSystemFromBasket(as)" data-ki-i18n="application-basket-empty" class="pull-right hide-in-print"></a>
                </div>
            </div>

            <div class="row margin-vertical-default">
                <div class="col-md-16">
                    <div class="pull-right" data-ki-application-status-label data-as="as"></div>
                </div>
            </div>
        </form>
    </div>

    <div data-ng-if="as.maxApplicationOptions <= 1">
        <div class="row margin-vertical-default">
            <div class="col-md-16">
                <span class="pull-right" data-ki-i18n="application-basket-fill-form-notification-single-ao"></span>
            </div>
        </div>
        <div class="row margin-vertical-default">
            <div class="col-md-16">
                <a href="javascript:void(0)" data-ng-click="removeApplicationSystemFromBasket(as)" data-ki-i18n="application-basket-empty" class="pull-right hide-in-print"></a>
            </div>
        </div>
    </div>
</div>