<header id="siteheader" data-ng-controller="HeaderCtrl">
    <div class="logo-bg">
        <div class="container">
            <a id="home-link" href="{{links.frontpage}}">
                <img data-ng-src="{{images.logo}}" alt="Opintopolku.fi"/>
            </a>
            <span data-ki-banner></span>
            <div class="actions">
                <ul data-ng-controller="LanguageCtrl">
                    <li><a href="javascript:void(0)" data-ng-click="changeLanguage('fi')" data-ki-i18n="language-fi"></a></li>
                    <li><a href="javascript:void(0)" data-ng-click="changeLanguage('sv')" data-ki-i18n="language-sv"></a></li>
                </ul>
            </div>
            <div class="actions primarylinks">
                <ul>
                    <li class="icon basket">
                        <a id="appbasket-link" href="#/muistilista">
                            <span data-ki-i18n="title-application-basket-content"></span> <span>({{appBasketItemCount()}})</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>