<header id="siteheader" data-ng-controller="HeaderCtrl">
    <div class="logo-bg">
        <div class="container">
            <a id="home-link" href="{{links.frontpage}}">
                <img data-ng-src="{{images.logo}}" title="{{locales.tofrontpage}}" alt="Opintopolku.fi"/>
            </a>
            <span data-ki-banner></span>
            <div class="actions">
                <ul data-ng-controller="LanguageCtrl">
                    <li><a title={{locales.opintopolkufi}} href="javascript:void(0)" data-ng-click="changeLanguage('fi')" data-ki-i18n="language-fi"></a></li>
                    <li><a title={{locales.opintopolkusv}} href="javascript:void(0)" data-ng-click="changeLanguage('sv')" data-ki-i18n="language-sv"></a></li>
                    <li><a title={{locales.opintopolkuen}} href="javascript:void(0)" data-ng-click="changeLanguage('en')" data-ki-i18n="language-en"></a></li>
                </ul>
            </div>
            <div class="actions primarylinks">
                <ul>
                    <li class="icon basket">
                        <a title={{locales.checklist}} id="appbasket-link" href="#!/muistilista">
                            <span data-ki-i18n="title-application-basket-content"></span> <span>({{appBasketItemCount()}})</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <nav>
        <div class="navigation-container" data-role="navigation" >
            <div data-ki-navigation tabIndex="-1"></div>
            <a class="action-link" data-ng-href="{{links.textversion}}"><span data-ki-i18n="link-to-accessible-version"></span></a>
        </div>
    </nav>
    
</header>