<header class="oppija-header" data-ng-controller="HeaderCtrl">
    <div class="container header">
        <div class="row">
            <div class="col-md-4">
                <a id="home-link" href="{{links.frontpage}}">
                    <img data-ng-src="{{images.logo}}" title="{{locales.tofrontpage}}" alt="Opintopolku.fi"/>
                </a>
            </div>
            <div class="col-md-8">
                <span data-ki-banner></span>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="icon basket">
                        <a title={{locales.checklist}} id="appbasket-link" href="#!/muistilista">
                            <i class="icon-check"></i>
                            <span data-ki-i18n="title-application-basket-content"></span> <span>({{appBasketItemCount()}})</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul data-ng-controller="LanguageCtrl" class="list-unstyled">
                    <li><a title={{locales.opintopolkufi}} href="javascript:void(0)" data-ng-click="changeLanguage('fi')" data-ki-i18n="language-fi"></a></li>
                    <li><a title={{locales.opintopolkusv}} href="javascript:void(0)" data-ng-click="changeLanguage('sv')" data-ki-i18n="language-sv"></a></li>
                    <li><a title={{locales.opintopolkuen}} href="javascript:void(0)" data-ng-click="changeLanguage('en')" data-ki-i18n="language-en"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-ng-click="navIsCollapsed = !navIsCollapsed" data-target="#ki-main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div data-collapse="!navIsCollapsed" class="collapse navbar-collapse" id="ki-main-navbar-collapse">
                <div data-ki-navigation tabIndex="-1"></div>
            </div>
        </div>
    </nav>
</header>