<script type="text/ng-template" id="/searchbar.typeahead.match.html">
    <div class="match-header" data-ng-if="match.model.firstInGroup == true">{{match.model.group}}</div>
    <a href
       tabindex="-1"
       data-ng-bind-html="match.label | typeaheadHighlight:query"
       data-ng-attr-title="{{match.label}}"></a>
</script>

<div class="container search-field" data-ng-controller="SearchFieldCtrl" data-ng-if="!hideSearchbar">
    <div class="row">
        <form method="get" data-ng-submit="search()" novalidate class="form-horizontal" role="form">
            <div class="from-group">
                <label for="search-field" class="col-xs-16 col-sm-4 control-label margin-vertical-small h3" data-ki-i18n="search-field-label"></label>
                <div class="col-xs-12 col-sm-8 margin-vertical-small">
                    <input type="text"
                        aria-label="{{searchFieldAriaLabel}}"
                        class="form-control input-lg ki-search-intro-step1"
                        id="search-field" 
                        name="search-field" 
                        placeholder="{{searchFieldPlaceholder}}" 
                        value="" 
                        data-ng-model="queryString" 
                        data-typeahead="suggestion.value for suggestion in suggestions"
                        data-typeahead-wait-ms="500" 
                        data-typeahead-on-select="search()"
                        data-typeahead-focus-first="false"
                        data-typeahead-template-url="/searchbar.typeahead.match.html"
                        maxlength="200"
                        autocomplete="off" />
                </div>
                <div class="col-xs-4 col-sm-4 margin-vertical-small">
                    <button type="submit" class="btn btn-lg btn-primary">
                            <span class="h3">
                                <i class="kicon-search"></i>
                                <span class="hidden-xs" data-ki-i18n="search-button"></span>
                            </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-16 col-sm-8 col-sm-offset-4">
            <a href="/app/#!/selailu/aihe" class="pull-right" data-ki-i18n="searchbysubject:browse-los-link"></a>
        </div>
    </div>
</div>