<div class="container search-field" data-ng-controller="SearchFieldCtrl">
    <div class="row">
        <form method="get" data-ng-submit="search()" novalidate class="form-horizontal" role="form">
            <div class="from-group">
                <label for="search-field" class="col-md-4 control-label h3" data-ki-i18n="search-field-label"></label>
                <div class="col-md-8">
                    <input type="text"
                        class="form-control input-lg" 
                        id="search-field" 
                        name="search-field" 
                        placeholder="{{searchFieldPlaceholder}}" 
                        value="" 
                        data-ng-model="queryString" 
                        data-typeahead="suggestion.value for suggestion in suggestions" 
                        data-typeahead-wait-ms="500" 
                        data-typeahead-on-select="search()"
                        autocomplete="off" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-lg btn-primary">
                        <span class="h3">
                            <i class="icon-search"></i>
                            <span data-ki-i18n="search-button"></span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>