<section class="col-md-11">
    <div data-ki-language-ribbon data-languages="selectedLOI.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>

    <div data-ng-repeat="as in selectedLOI.applicationSystems">
        <div data-ng-repeat="ao in as.applicationOptions">
            <div>
                <h2>{{ao.name}}</h2>
                <p class="margin-vertical-default">
                    <span>{{as.name}}</span> (<span data-ki-ao-application-time data-startdate="ao.applicationStartDate" data-enddate="ao.applicationEndDate" data-hakutapa="as.hakutapa" data-period-name="ao.applicationPeriodName"></span>)
                </p>
                <p data-ng-if="ao.kaksoistutkinto" data-ki-i18n="double-exam"></p>
            </div>
            <div data-ki-collapse-text-block data-title="selection-criteria" data-content="ao.selectionCriteria"></div>
            <div data-ki-collapse-block data-title="emphasized-subjects" data-content="ao.emphasizedSubjects">
                <div data-ki-emphasized-subjects></div>
            </div>
            
            <div data-ki-collapse-block data-title="average-limit" data-content="ao.lowestAcceptedAverage">
                <div data-ki-average-limit></div>
            </div>
            
            <div data-ki-collapse-block data-title="entrance-exam" data-content="ao.exams">
                <div data-ki-exams></div>
            </div>

            <div data-ki-collapse-block data-title="additional-proof" data-content="ao.additionalProof">
                <div data-ki-additional-proof></div>
            </div>

            <div data-ki-collapse-block data-title="required-attachments" data-content="ao.attachments">
                <div data-ki-attachments></div>
            </div>
            <div data-ki-collapse-text-block data-title="further-application-info" data-content="ao.additionalInfo"></div>
            <hr/>
        </div>
    </div>
    <div data-ki-collapse-block data-title="info-center" data-content="provider.applicationOffice">
        <div data-ki-info-center-address></div>
    </div>
</section>
<div class="col-md-5">
	<div data-ng-class="applyFormClass" data-ng-include data-src="partialCommonUrl + 'as/as.html'" data-ng-controller="ApplicationCtrl"></div>
	<div data-ng-include data-src="partialUrl + 'recommendations.html'"></div>
</div>