<div class="panel panel-ki-default">
    <div class="panel-heading">
        <h3 class="panel-title emphasis" data-ki-i18n="katso-myos"></h3>
    </div>
	<div class="panel-body">
		<!-- PREVIEW EXCLUDE -->
		<ul class="list-unstyled" data-ng-if="!parent.preview">
			<li>
				<i class="icon-angle-double-right"></i>
				<a data-ng-href="#!/haku/*?page=1&lopFilter={{parent.provider.name | encodeURIComponent}}&excludes=-id:{{parent.id}}&itemsPerPage=25&sortCriteria=0&tab=los">
					<span data-ki-i18n="tarjoajan"></span> {{parent.provider.name}}</a>
			</li>
			<li>
				<i class="icon-angle-double-right"></i>
				<a data-ng-href="#!/haku/*?page=1&prerequisite={{prerequisite.value}}&educationCodeFilter={{parent.educationCode}}&excludes={{lopExclField}}:{{parent.provider.name}}&itemsPerPage=25&sortCriteria=0&tab=los">
				<span data-ki-i18n="muualla"></span> </a>
			</li>
			<li>
				<i class="icon-angle-double-right"></i>
				<a data-ng-href="#!/haku/*?page=1&prerequisite={{prerequisite.value}}&studyDomainFilter={{parent.stydyDomain}}&excludes={{lopExclField}}:{{parent.provider.name}}&itemsPerPage=25&sortCriteria=0&tab=los">
					{{parent.stydyDomain}} <span data-ki-i18n="mukainen-koulutus-muualla"></span> </a>
			</li>
		</ul>
		<!-- END PREVIEW EXCLUDE -->

		<!-- PREVIEW -->
		<ul data-ng-if="parent.preview" class="inside">
			<li>
				<span data-ki-i18n="tarjoajan"></span> {{parent.provider.name}} <span data-ki-i18n="muita-koulutuksia"></span>
			</li>
			<li>
				{{parent.educationCode}} <span data-ki-i18n="muualla"></span>
			</li>
			<li>
				{{parent.stydyDomain}} <span data-ki-i18n="mukainen-koulutus-muualla"></span>
			</li>
		</ul>
		<!-- END PREVIEW -->
	</div>
</div>

<div data-ng-show="(parent.edCodeSuggestions && parent.edCodeSuggestions.length > 0) || (parent.edTypeSuggestions && parent.edTypeSuggestions.length > 0)">
	<div class="panel panel-ki-default">
    	<div class="panel-heading">
        	<h3 class="panel-title emphasis" data-ki-i18n="lue-lisaa"></h3>
        </div>
		<div class="panel-body">
			<!-- PREVIEW EXCLUDE -->
			<ul class="list-unstyled" data-ng-if="!parent.preview">
				<li data-ng-repeat="article in parent.edCodeSuggestions">
					<i class="icon-angle-double-right"></i>
					<a data-ng-href="{{article.url}}" data-ng-bind-html="article.title | unsafe"></a>
				</li>
				<li data-ng-repeat="article in parent.edTypeSuggestions">
					<i class="icon-angle-double-right"></i>
					<a data-ng-href="{{article.url}}" data-ng-bind-html="article.title | unsafe"></a>
				</li>
			</ul>
			<!-- END PREVIEW EXCLUDE -->

			<!-- PREVIEW -->
			<ul data-ng-if="parent.preview" class="inside">
				<li data-ng-repeat="article in parent.edCodeSuggestions">
					<span data-ng-bind-html="article.title | unsafe"></span>
				</li>
				<li data-ng-repeat="article in parent.edTypeSuggestions">
					<span data-ng-bind-html="article.title | unsafe"></span>
				</li>
			</ul>
			<!-- END PREVIEW -->
		</div>
	</div>
</div>