<td colspan="2">
    <h4>{{item.name}}</h4>
    <div data-ng-if="isErikseenHaettava(as)" data-ki-application-time data-dates="item.applicationDates" data-hakutapa="item.hakutapaUri" data-label="item.asName"></div>
    <ul class="inside">
        <li data-ng-repeat="losref in item.losRefs">
            <a href="#!/korkeakoulu/{{losref.id}}">{{losref.name}}</a>, 
            <span data-ng-repeat="qualification in losref.qualifications">{{qualification}}, </span>
            <span>{{losref.provider}}</span>
        </li>
    </ul>
</td>

<td>
    <div data-ng-include src="'js/directives/AppBasket/common/attachmentsAndExams.html'"></div>
</td>

<td class="last text-right hide-in-print">
    <div data-ng-include src="'js/directives/AppBasket/common/aoActions.html'"></div>
</td>


