<td colspan="2">
    <h4>{{item.name}}</h4>
    <div data-ng-if="isErikseenHaettava(as)" data-ki-application-time data-dates="item.applicationDates" data-hakutapa="item.hakutapaUri" data-label="item.asName"></div>
    <ul class="inside">
        <li data-ng-repeat="highLo in item.higherEducations">
            <a href="#!/korkeakoulu/{{highLo.id}}">{{highLo.name}}</a>, 
            <span data-ng-repeat="qualification in highLo.qualifications">{{qualification}}, </span>
            <span>{{highLo.provider}}</span>
        </li>
    </ul>
</td>

<td>
    <div data-ng-include src="'js/directives/AppBasket/common/attachmentsAndExams.html'"></div>
</td>

<td class="last text-right">
    <div data-ng-include src="'js/directives/AppBasket/common/aoActions.html'"></div>
</td>


