<div class="row">
    <div class="col-xs-16 margin-vertical-small">
        <div class="pull-left margin-right-small">
            <!-- käytä järjestelmän hakulomaketta -->
            <button 
                data-ng-if="as.useSystemApplicationForm" 
                type="submit" 
                data-ng-disabled="!ao.canBeApplied || lo.preview"
                class="btn btn-default"
                data-ki-i18n="apply-button-label-additional">
            </button>

            <!-- linkki ulkoiseen hakulomakkeesees -->
            <div data-ng-include="'partials/lo/common/externalApplicationFormLink.html'"></div>

        </div>

        <div class="pull-left">
            <div data-ng-switch="isItemAddedToBasket(ao.id)" class="add-to-basket" aria-live="polite" role="status">
                <span data-ng-switch-when="true">
                    <span data-ki-i18n="popover-title-success"></span><br/>
                    <a data-set-focus-here href="#!/muistilista" data-ki-i18n="popover-content-link-to-application-basket"></a>
                </span>
                <button
                        data-ng-switch-default
                        type="button"
                        id="addToBasket-{{$id}}"
                        class="btn btn-primary"
                        data-popover-placement="bottom"
                        data-popover="{{popoverContent}}"
                        data-popover-title="{{popoverTitle}}"
                        data-popover-trigger="click"
                        data-ng-click="addToBasket(ao.id)"
                        data-ng-disabled="lo.preview"
                        data-ki-i18n="add-to-basket-label">
                </button>
            </div>
        </div>
    </div>
</div>