<section class="grid16-10 no-left-gutter" id="wide-column">

    <div class="ribbon">
        <a href="#" class="disabled">Peruskoulupohjainen koulutus</a>
        <span class="list-separator">|</span>
        <a href="#">Lukiopohjainen koulutus</a>
    </div>
    <div class="notification info">
        <h3>Tähän syksyllä 2013 alkavaan koulutukseen alkaa haku 3.4.2013!</h3>
        <ul>
            <li>
                Koulutus alkaa: 
            </li>
            <li>
                Opetuskieli:
            </li>
            <li>
                Opetusmuoto:
            </li>
            <li>
                Koulutuksen laajuus:
            </li>
        </ul>{{parentLO.provider.name}}
    </div>
    <h3>Yleiset valintaperusteet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra massa nec massa rutrum et viverra urna adipiscing. Maecenas ullamcorper quam vitae odio venenatis gravida. Maecenas convallis blandit nunc, nec vestibulum est viverra ac. Aenean id nulla eu turpis facilisis auctor. Sed est elit, ultrices id cursus in, hendrerit eu ipsum. Curabitur vel aliquet odio. Phasellus est neque, lacinia id ultrices at, fringilla ut lacus. Curabitur nisi elit, feugiat eget accumsan luctus, pellentesque tincidunt lacus.</p>
    <p>
        <a href="#">Lue lisää...</a>
    </p>
    <h3>Perusopetuksen päättäneiden valinta</h3>
    <h4>Pisteytys</h4>
    <p>Aenean sit amet rutrum augue. Integer eu risus turpis, a tincidunt arcu. Cras tempus neque in augue convallis a malesuada diam gravida. Curabitur tincidunt enim leo, a gravida lacus. Curabitur varius, est ac tincidunt rutrum, felis purus tempor odio, non iaculis lacus lacus ac dolor. Pellentesque vitae quam sapien, non elementum velit. Suspendisse aliquam, enim vel pellentesque tempus, mauris mauris vehicula arcu, vel aliquet est ipsum et libero. In at ante at metus convallis eleifend eu in dui. Integer magna sem, varius nec fringilla in, placerat et eros. Maecenas at neque quis arcu tincidunt rhoncus vel ac orci.</p>
    <p>In eget accumsan nunc. Vivamus a velit nisl, eget bibendum diam. Nullam luctus luctus sagittis. Aliquam enim tortor, eleifend eu placerat ut, blandit nec nulla. Praesent orci tellus, tristique vitae sagittis nec, porta porta mi. Integer consequat justo quis arcu pretium eget commodo justo consequat. Nunc ligula dui, blandit quis bibendum nec, venenatis in felis. Fusce euismod erat id metus volutpat dignissim. Maecenas sollicitudin lacinia leo a bibendum. Nulla elementum magna ut leo aliquet varius.</p>
    <p>
        <a href="#">Lue lisää...</a>
    </p>
    <h4>Pääsykoe 22.5.2014</h4>
    <p>Quisque dui sapien, scelerisque at rhoncus eget, ullamcorper in dui. Phasellus sit amet viverra odio. Nulla volutpat justo at sem facilisis egestas. Morbi mollis felis sit amet dui consectetur interdum vitae non mauris. Donec sed iaculis enim. Quisque ultricies sem a neque pharetra a hendrerit magna varius. Quisque diam velit, lacinia ut molestie eget, venenatis sit amet tortor. In ac urna mi, at malesuada magna.</p>

    <h4>Lisätietoa hakemisesta</h4>
    <p>Kenttää ei näytetä, jos ei sisältöä</p>
</section>
<aside class="grid16-6 no-right-gutter">
    <div class="sideitem margin-bottom-3 hidden">
        <span>Suoraan haettavissa olevat koulutusohjelmat:</span>
        <ul>
            <li><a href="#">Ensihoidon koulutusohjelma</a></li>
        </ul>
    </div>
    <div class="sideitem margin-bottom-3">
        <span>Haku</span>
        <span class="bold">Ammatillisen koulutuksen ja lukiokoulutuksen yhteishaku, kevät 2014</span>
    </div>
    <div class="sideitem margin-bottom-3">
        <span>Hakuaika</span>
        <span class="bold">3.4.2013 - 31.5.2013</span>
    </div>
    <form name="level-selection-form">
        <ul class="margin-bottom-2">
            <li>
                <input type="radio" name="input1" id="input1" /><label for="input1">Peruskoulupohjainen koulutus</label>
            </li>
            <li>
                <input type="radio" name="input1" id="input2" /><label for="input2">Lukiopohjainen koulutus</label>
            </li>
        </ul>
        <button type="submit" class="primary"><span><span>Hae koulutukseen</span></span></button>
    </form>
</aside>
<div class="clear"></div>
</div>