<section class="grid16-10 no-left-gutter" id="wide-column">
    <div class="tabs sub">
        <a class="tab current" data-tabs-group="koulutukseenhakeutuminen" data-tabs-id="koulutukseenhakeutuminen_peruskoulu">
            <span>Peruskoulupohjainen koulutus</span>
        </a>
        <a class="tab" data-tabs-group="koulutukseenhakeutuminen" data-tabs-id="koulutukseenhakeutuminen_lukio">
            <span>Lukiopohjainen koulutus</span>
        </a>
    </div>
    <div class="tabsheets sub">
        <section class="tabsheet" style="display: block;" data-tabs-group="koulutukseenhakeutuminen" data-tabs-id="koulutukseenhakeutuminen_peruskoulu">
            <div ng-include src="'partials/tabs/subtabs/hakeutuminen_peruskoulu.html'"></div>
        </section>
        <section class="tabsheet" data-tabs-group="koulutukseenhakeutuminen" data-tabs-id="koulutukseenhakeutuminen_lukio">
            <div ng-include src="'partials/tabs/subtabs/hakeutuminen_lukio.html'"></div>
        </section>
    </div>
</section>
<aside class="grid16-6 no-right-gutter">
    <div class="sideitem margin-bottom-3 hidden">
        <span>Suoraan haettavissa olevat koulutusohjelmat:</span>
        <ul>
            <li><a href="#">Ensihoidon koulutusohjelma</a></li>
        </ul>
    </div>
    <div class="sideitem margin-bottom-3">
        <span>Haku</span>
        <span class="bold">Ammatillisen koulutuksen ja lukiokoulutuksen yhteishaku, kevät 2014</span>
    </div>
    <div class="sideitem margin-bottom-3">
        <span>Hakuaika</span>
        <span class="bold">3.4.2013 - 31.5.2013</span>
    </div>
    <form name="level-selection-form" action="/haku-app/lomake/1.2.246.562.5.50476818906/yhteishaku">
        <ul class="margin-bottom-2">
            <li>
                <input type="radio" name="input1" id="input1" /><label for="input1">Peruskoulupohjainen koulutus</label>
            </li>
            <li>
                <input type="radio" name="input1" id="input2" /><label for="input2">Lukiopohjainen koulutus</label>
            </li>
        </ul>
        <button type="submit" class="primary"><span><span>Hae koulutukseen</span></span></button>
    </form>
</aside>
<div class="clear"></div>
</div>