<aside class="grid16-6 no-right-gutter">
    <div class="sideitem margin-bottom-3 hidden">
        <span data-ki-i18n="directly-applicable"></span>
        <ul>
            <li><a href="#">Ensihoidon koulutusohjelma</a></li>
        </ul>
    </div>
    <div class="sideitem margin-bottom-3">
        <span data-ki-i18n="application-title"></span>
        <span class="bold">Ammatillisen koulutuksen ja lukiokoulutuksen yhteishaku, kevät 2014</span>
    </div>
    <div class="sideitem margin-bottom-3">
        <span data-ki-i18n="application-period"></span>
        <span class="bold">3.4.2013 - 31.5.2013</span>
    </div>
    <form name="level-selection-form" action="/haku-app/lomake/{{parentLO.applicationOptions[0].applicationSystemId}}/yhteishaku" method="POST" ng-controller="ApplicationCtrl">
        <form name="level-selection-form" action="" method="POST">
        <ul class="margin-bottom-2">
            <li>
                <input type="radio" name="input1" id="input1" /><label for="input1" data-ki-i18n="elementary-based"></label>
            </li>
            <li>
                <input type="radio" name="input1" id="input2" /><label for="input2" data-ki-i18n="secondary-school-based"></label>
            </li>
        </ul>
        <input type="hidden" name="preference1-Opetuspiste" value="{{parentLO.provider.name}}"/>
        <input type="hidden" name="preference1-Opetuspiste-id" value="{{parentLO.provider.id}}"/>
        <input type="hidden" name="preference1-Koulutus" value="{{parentLO.applicationOptions[0].name}}"/>
        <input type="hidden" name="preference1-Koulutus-id" value="{{parentLO.applicationOptions[0].id}}"/>
        <input type="hidden" name="preference1-Koulutus-educationDegree" value="{{parentLO.educationDegree}}"/>
        <!--<input type="hidden" name="enabling-submit"/>-->
        <button type="submit" class="primary"><span><span data-ki-i18n="apply-button-label"></span></span></button>
        <button type="button" ng-click="addToBasket('123456', '1.2.246.562.14.11950062056')"><span><span>Lisää muistilistalle</span></span></button>
    </form>
</aside>