<div data-ng-switch="hasApplicationOptions">
    <div data-ng-switch-when="true">
        <aside class="grid16-6 no-right-gutter margin-top-2">
            <!--
            <div class="sideitem margin-bottom-3 hidden">
                <span data-ki-i18n="directly-applicable"></span>
                <ul>
                    <li><a href="#">Ensihoidon koulutusohjelma</a></li>
                </ul>
            </div>
            -->
            <div class="sideitem margin-bottom-3">
                <span data-ki-i18n="application-title"></span>
                <span class="bold">{{parentLO.applicationSystem.name}}</span>
            </div>
            <div class="sideitem margin-bottom-3">
                <span data-ki-i18n="application-period"></span>
                <span class="bold">
                    <span data-ki-timestamp="{{parentLO.applicationSystem.applicationDates.startDate}}"></span> - <span data-ki-timestamp="{{parentLO.applicationSystem.applicationDates.endDate}}"></span>
                </span>
            </div>
            <form name="levelSelectionForm" action="/haku-app/lomake/{{asId}}/yhteishaku" method="POST" ng-controller="ApplicationCtrl">
                <ul class="margin-bottom-2">
                    <li data-ng-repeat="ao in parentLO.applicationOptions">
                        <input type="radio" name="preference1-Koulutus-id" id="input{{$index}}" value="{{ao.id}}" ng-change="changeValue(ao.id, ao.name, ao.sora, ao.teachLang)" ng-model="applicationOptionId"/>
                        <label for="input{{$index}}">{{ao.prerequisite}}</label>
                    </li>
                </ul>
                <input type="hidden" name="preference1-Opetuspiste" value="{{parentLO.provider.name}}"/>
                <input type="hidden" name="preference1-Opetuspiste-id" value="{{parentLO.provider.id}}"/>
                <input type="hidden" name="preference1-Koulutus" value="{{applicationOptionName}}" ng-model="applicationOptionName"/>
                <input type="hidden" name="preference1-Koulutus-educationDegree" value="{{parentLO.educationDegree}}"/>
                <input type="hidden" name="preference1-Koulutus-id-sora" value="{{aoSora}}" ng-model="applicationOptionSora"/>
                <input type="hidden" name="preference1-Koulutus-id-lang" value="{{aoTeachLang}}" ng-model="applicationOptionLang"/>
                <!--<input type="hidden" name="enabling-submit"/>-->
                <button type="submit" class="primary" ng-disabled="buttonsAreDisabled"><span><span data-ki-i18n="apply-button-label"></span></span></button>

                <div class="inline" ng-click="addToBasket(aoId)">
                    <button type="button" id="addToBasket" ng-disabled="buttonsAreDisabled" popover-placement="bottom" popover-html-unsafe="<a href='#/muistilista'>Katso muistilista</a>" popover-title="Koulutus lisätty muistilistalle" popover-trigger="click">
                        <span>
                            <span data-ki-i18n="add-to-basket-label"></span>
                        </span>
                    </button>
                </div>
            </form>
        </aside>
    </div>
</div>