<section class="grid16-10 no-left-gutter" id="wide-column">
    <div class="tabs sub">
        <a class="tab current" data-tabs-group="koulutuksenkuvaus" data-tabs-id="koulutuksenkuvaus_peruskoulu">
            <span data-ki-i18n="elementary-based"></span>
        </a>
        <a class="tab" data-tabs-group="koulutuksenkuvaus" data-tabs-id="koulutuksenkuvaus_lukio">
            <span data-ki-i18n="secondary-school-based"></span>
        </a>
    </div>
    <div class="tabsheets sub">
        <section class="tabsheet" style="display: block;" data-tabs-group="koulutuksenkuvaus" data-tabs-id="koulutuksenkuvaus_peruskoulu">
            <div ng-include src="'partials/tabs/subtabs/kuvaus_peruskoulu.html'"></div>
        </section>
        <section class="tabsheet" data-tabs-group="koulutuksenkuvaus" data-tabs-id="koulutuksenkuvaus_lukio">
            <div ng-include src="'partials/tabs/subtabs/kuvaus_lukio.html'"></div>
        </section>
    </div>
</section>
<div ng-include src="'partials/tabs/haku.html'"></div>
<div class="clear"></div>
</div>