<section class="grid16-10 no-left-gutter wide-column">
    <div data-ki-prerequisite-selection-ribbon></div>
    <div class="infobox">
        <ul class="nobullet">
            <li>
                <span data-ki-i18n="education-starts" class="margin-right-1"></span>
                <span class="bold">{{selectedLOI.startDate}}</span>
            </li>
            <li>
                <span data-ki-i18n="language-of-instruction" class="margin-right-1"></span>
                <span class="bold">{{selectedLOI.teachingLanguage}}</span>
            </li>
            <li>
                <span data-ki-i18n="form-of-education" class="margin-right-1"></span>
                <span class="bold">{{selectedLOI.formOfTeaching}}</span>
            </li>
            <li>
                <span data-ki-i18n="duration" class="margin-right-1"></span>
                <span class="bold">{{parentLO.creditValue}} {{parentLO.creditUnit}}</span>
            </li>
            <li>
                <span data-ki-i18n="starting-quota" class="margin-right-1"></span>
                <span class="bold">{{applicationOption.startingQuota}}</span>
            </li>
        </ul>
    </div>
    <div data-ki-language-ribbon class="ribbon"></div>
    <div data-render-text-block data-title="goals-of-education" data-content="{{childLO.degreeGoal}}"></div>
    <div data-render-text-block data-title="content-of-studies" data-content="{{selectedLOI.content}}"></div>
    <div data-render-text-block data-title="structure-of-studies" data-content="{{parentLO.structureDiagram}}" data-level="2"></div>
    <div data-render-text-block data-title="working-life-placement" data-content="{{selectedLOI.workingLifePlacement}}"></div>
    <div data-ki-render-professional-titles></div>
    <div data-render-text-block data-title="internationalization" data-content="{{selectedLOI.internationalization}}"></div>
    <div data-render-text-block data-title="cooperation" data-content="{{selectedLOI.cooperation}}"></div>
</section>
</div>