<section class="grid16-10 no-left-gutter" id="wide-column">

    <div class="ribbon">
        <a href="#" class="disabled">Peruskoulupohjainen koulutus</a>
        <span class="list-separator">|</span>
        <a href="#">Lukiopohjainen koulutus</a>
    </div>
    <div class="notification info">
        <h3>Tähän syksyllä 2013 alkavaan koulutukseen alkaa haku 3.4.2013!</h3>
        <ul>
            <li>
                Koulutus alkaa: 
            </li>
            <li>
                Opetuskieli:
            </li>
            <li>
                Opetusmuoto:
            </li>
            <li>
                Koulutuksen laajuus:
            </li>
        </ul>
    </div>
    <h3>Koulutuksen tavoite</h3>
    {{parentLO.description.educationAndProfessionalGoals}}
    <h3>Koulutusohjelman valinta</h3>
    {{parentLO.description.selectionOfDegreeProgram}}
    <h3>Peruskoulupohjaisena järjestettävä koulutus</h3>
    <ul>
        <li ng-repeat="child in parentLO.children">
            <a href="#/info/{{parentId}}/{{child.id}}">{{child.degreeTitle}}</a>
        </li>
    </ul>
    <h3>Jatko-opintomahdollisuudet</h3>
    {{parentLO.description.accessToFurtherStudies}}
</section>
<aside class="grid16-6 no-right-gutter">
    <div class="sideitem margin-bottom-3 hidden">
        <span>Suoraan haettavissa olevat koulutusohjelmat:</span>
        <ul>
            <li><a href="#">Ensihoidon koulutusohjelma</a></li>
        </ul>
    </div>
    <div class="sideitem margin-bottom-3">
        <span>Haku</span>
        <span class="bold">Ammatillisen koulutuksen ja lukiokoulutuksen yhteishaku, kevät 2014</span>
    </div>
    <div class="sideitem margin-bottom-3">
        <span>Hakuaika</span>
        <span class="bold">3.4.2013 - 31.5.2013</span>
    </div>
    <form name="level-selection-form" action="/haku-app/lomake/1.2.246.562.5.50476818906/yhteishaku">
        <ul class="margin-bottom-2">
            <li>
                <input type="radio" name="input1" id="input1" /><label for="input1">Peruskoulupohjainen koulutus</label>
            </li>
            <li>
                <input type="radio" name="input1" id="input2" /><label for="input2">Lukiopohjainen koulutus</label>
            </li>
        </ul>
        <button type="submit" class="primary"><span><span>Hae koulutukseen</span></span></button>
    </form>
</aside>
<div class="clear"></div>
</div>