<section class="grid16-10 no-left-gutter" id="wide-column">

    <div class="ribbon">
        <a ng-click="scrollToAnchor('oppilaitos-anchor')">Oppilaitoksen esittely</a>
        <a ng-click="scrollToAnchor('edut-anchor')">Esteettömyys ja opiskelijan edut</a>
        <a ng-click="scrollToAnchor('yhteystiedot-anchor')">Yhteystiedot</a>
    </div>
    <figure>
        <img src="img/content/bulevardi31.png" alt="Oppilaitos" />
    </figure>
    <div data-ki-language-ribbon class="ribbon"></div>
    <div render-text-block data-title="{{parentLO.provider.name}} {{parentLO.classification.educationDomain}}" data-content="{{lorem}}" data-anchor="oppilaitos-anchor"></div>
    <div render-text-block data-title="Tietoa oppimisympäristöstä" data-content="{{loremshort}}" data-level="4"></div>
    <div render-text-block data-title="Esteettömyys ja oppimisen tuki" data-content="{{loremshort}}" data-level="4"></div>
    <div render-text-block data-title="Opiskelijan edut" data-content="{{lorem}}" data-anchor="edut-anchor"></div>
    <div render-text-block data-title="Tietoa elämisen kustannuksista" data-content="{{loremshort}}" data-level="4"></div>
    <div render-text-block data-title="Opiskelijaruokailu" data-content="{{loremshort}}" data-level="4"></div>
    <div render-text-block data-title="Terveydenhuoltopalvelut" data-content="{{loremshort}}" data-level="4"></div>
    <div render-text-block data-title="Yhteystiedot" data-content="{{lorem}}" data-anchor="yhteystiedot-anchor"></div>
    <!--
    <p><a href="#">Oppilaitoksen omat sivut</a></p>
    <p>
        Hakutoimisto<br/>
        Latokartanontie 16, 00700 Helsinki<br/>
        PL 3925, 00099 Helsingin kaupunki<br/>
        Opintosihteeri Anja Telin<br/>
        anja.telin(at)edu.hel.fi<br/>
        puh. 310 81321
    </p>
    -->
</section>
<aside class="grid16-6 no-right-gutter">
    <div class="sideitem margin-bottom-3 margin-top-2">
        <a href="#">{{parentLO.provider.name}} muu koulutus</a>
    </div>
</aside>
<div class="clear"></div>
</div>