<section class="grid16-10 no-left-gutter" id="wide-column">

    <div class="ribbon">
        <ul class="ribbon-content">
            <li><a ng-click="scrollToAnchor('oppilaitos-anchor')" data-ki-i18n="academy-description"></a></li>
            <li><a ng-click="scrollToAnchor('edut-anchor')" data-ki-i18n="accessibility-and-benefits"></a></li>
            <li><a ng-click="scrollToAnchor('yhteystiedot-anchor')" data-ki-i18n="contact-information"></a></li>
        </ul>
    </div>
    <figure data-ki-render-organization-image>
    </figure>
    <div data-ki-social-links></div>
    <div data-ki-language-ribbon class="ribbon"></div>
    
    <div data-ki-render-organization="parentLO.provider" data-anchor="oppilaitos-anchor"></div>
    <div data-ki-render-student-benefits="parentLO.provider" data-anchor="edut-anchor"></div>
    <div data-ki-render-contact-info="parentLO.provider" data-anchor="yhteystiedot-anchor"></div>
</section>
<!-- <div class="clear"></div> -->
</div>