<div class="search-result-collapsed">
    <div class="result-content">
        <h2 title="{{locales.openEducation}}"><a href="{{lo.linkHref}}">{{lo.lopName}}, {{lo.name}}<span data-ng-show="lo.credits != null">, {{lo.credits}}</span></a></h2>
        <span class="italic">{{lo.educationDegree}}</span><br />
        <span class="italic" data-ng-show="lo.educationDegreeCode == 'koulutusasteoph2002_72'">
           	<span data-ki-i18n="application-prerequisite" data-show-colon="true"></span>
            <span data-ki-i18n="kandidaattiYm"></span><br />
        </span>
        <span class="italic" data-ng-show="lo.educationDegreeCode != 'koulutusasteoph2002_72'">
           	<span data-ki-i18n="application-prerequisite" data-show-colon="true"></span>
            <span data-ki-i18n="lukioYm"></span><br />
        </span>
        <span>{{lo.lopName}}</span><br />
        <span>{{lo.homeplace}}</span>
    </div>

    <div class="float-right">
        <span data-ki-as-state class="state-label">&nbsp;</span>
        <span class="collapser" data-ng-class="showExtension" data-ng-click="toggleExtendedView()">
            <span data-ki-i18n="extended-view-{{showExtension}}" class="margin-right-1"></span>
            <span class="icon"></span>
        </span>
    </div>

    <div class="clear"></div>
</div>

<div data-extended-searchresult-data="korkeakoulu" data-toggle-collapse>
    <div class="grid16-8">
        <div data-sr-extended-koulutustarjonta data-template-type="korkeakoulu"></div>
    </div>

    <div class="grid16-8">
        <h4 class="margin-top-0 margin-bottom-1" data-ki-i18n="basic-information"></h4>
        <div data-sr-basic-information data-template-type="korkeakoulu" class="margin-bottom-2"></div>
    </div>

    <div class="grid16-16 application-container">
        <div data-sr-hakukohteet data-template-type="korkeakoulu">
            <div data-sr-extended-options></div>
        </div>
    </div>

    <div class="clear"></div>
</div>
