<section class="grid16-9 offset-right-16-1 no-left-gutter wide-column">
    <div data-ki-language-ribbon data-languages="lo.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>

    <div data-ki-application-option-index data-lo="lo"></div>

    <div data-ng-repeat="as in lo.applicationSystems">
        <div data-ng-repeat="ao in as.applicationOptions" id="{{ao.id}}" class="ao-block">
            <h2 class="inline-block margin-right-2">{{ao.name}}</h2>
            
            <!-- PREVIEW -->
            <div data-ng-show="ao.preview" class="inline-block">
                <span data-ki-preview-status-label="ao.status" class="margin-right-1"></span>
            	<a href="{{ao.editUrl}}" data-ki-i18n="tarjonta-muokkaa-hakukohde" class="cssbutton blue"></a>
            </div>
            <!-- END PREVIEW -->
            
            <div class="infobox">
                <ul class="nobullet">
                    <li>
                        <span data-ki-i18n="education-starts" data-show-colon="true" class="margin-right-1"></span>
                        <span class="bold">{{lo.startDate}}</span>
                    </li>
                    <li>
                        <span data-ki-i18n="language-of-instruction" data-show-colon="true" class="margin-right-1"></span>
                       <!--<span class="bold">{{lo.teachingLanguage}}</span>-->
                        <span data-ng-repeat="tl in lo.teachingLanguages">
                    		<span class="bold">{{tl}}</span><span data-ng-show="!$last">,</span>
                		</span>
                    </li>
                    <li>
                        <span data-ki-i18n="duration" data-show-colon="true" class="margin-right-1"></span>
                        <span class="bold">{{lo.creditValue}} {{lo.creditUnit}}</span>
                    </li>
                    <li>
                        <span data-ki-i18n="planned-duration" data-show-colon="true" class="margin-right-1"></span>
                        <span class="bold">{{lo.plannedDuration}} {{lo.plannedDurationUnit}}</span>
                    </li>
                    <li>
                        <span data-ki-i18n="time-of-teaching" data-show-colon="true" class="margin-right-1"></span>
                        <span data-ng-repeat="tot in lo.teachingTimes">
                            <span class="bold">{{tot}}</span><span data-ng-show="!$last">,</span>
                        </span>
                    </li>
                    <li>
                        <span data-ki-i18n="place-of-teaching" data-show-colon="true" class="margin-right-1"></span>
                        <span data-ng-repeat="top in lo.teachingPlaces">
                            <span class="bold">{{top}}</span><span data-ng-show="!$last">,</span>
                        </span>
                    </li>
                    <li>
                        <span data-ki-i18n="chargeable" data-show-colon="true" class="margin-right-1"></span>
                        <span class="bold" data-ki-i18n="chargeable-{{lo.chargeable}}"></span>
                    </li>
                </ul>
            </div>
            <div data-render-extendable-text-block data-title="{{as.name}}" data-content="{{ao.selectionCriteria}}"></div>
            <div data-render-text-block data-title="eligibility-description" data-content="{{ao.eligibilityDescription}}"></div>
            <div data-render-text-block data-title="sora" data-content="{{ao.soraDescription}}"></div>
            <div data-ki-render-exams></div>
            <div data-ki-render-attachments></div>
            <div data-render-text-block data-title="further-application-info" data-content="{{ao.additionalInfo}}"></div>
        </div>
    </div>
    <div data-ki-render-info-center-address></div>
</section>
<div data-ng-class="applyFormClass" data-ng-include data-src="partialCommonUrl + 'as/higherEducationAs.html'" data-ng-controller="ApplicationCtrl"></div>
<div data-ng-include data-src="partialUrl + 'recommendations.html'"></div>
<div class="clear"></div>