<section class="grid16-9 offset-right-16-1 no-left-gutter wide-column">
    <div data-ki-language-ribbon data-languages="lo.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>

    <div data-ng-repeat="as in lo.applicationSystems">
        <div data-ng-repeat="ao in as.applicationOptions" class="ao-block">
            <div class="margin-bottom-2">
                <h2 class="margin-bottom-0 margin-right-2">{{ao.name}}</h2>
                <span>{{as.name}}</span> (<span data-ki-timestamp="{{ao.applicationStartDate}}"></span> - <span data-ki-timestamp="{{ao.applicationEndDate}}"></span>)
            </div>
            
            <!-- PREVIEW -->
            <div data-ng-show="ao.preview" class="inline-block">
                <span data-ki-preview-status-label="ao.status" data-lang="virkailijaLang" class="margin-right-1"></span>
            	<a href="{{ao.editUrl}}" data-ki-i18n="tarjonta-muokkaa-hakukohde" data-lang="{{virkailijaLang}}" class="cssbutton blue"></a>
            </div>
            <!-- END PREVIEW -->

            <div data-ki-collapse-text-block data-content="ao.selectionCriteria" data-title="selection-criteria"></div>
            <div data-ki-collapse-text-block data-title="eligibility-description" data-content="ao.eligibilityDescription"></div>
            <div data-ki-collapse-text-block data-title="sora" data-content="ao.soraDescription"></div>
            <div data-ki-collapse-block data-title="entrance-exam" data-content="ao.exams">
                <div data-ki-exams></div>
            </div>
            <div data-ki-collapse-block data-title="required-attachments" data-content="ao.attachments">
                <div data-ki-attachments></div>
            </div>
            <div data-ki-collapse-text-block data-title="further-application-info" data-content="ao.additionalInfo"></div>
        </div>
    </div>
    <div data-ki-info-center-address></div>
</section>
<div class="grid16-6">
    <div data-ng-class="applyFormClass" data-ng-include data-src="partialCommonUrl + 'as/higherEducationAs.html'" data-ng-controller="ApplicationCtrl"></div>
    <div data-ng-include data-src="partialUrl + 'recommendations.html'"></div>
</div>
<div class="clear"></div>