<div class="application-container margin-bottom-4">
	<h3 class="title"><span data-ki-i18n="katso-myos"></span></h3>
	<div class="content">
		<!-- PREVIEW EXCLUDE -->
		<ul class="nobullet" data-ng-if="!lo.preview">
			<li>
				<i class="icon-angle-double-right"></i>
				<a data-ng-href="#!/haku/*?page=1&facetFilters=teachingLangCode_ffm:{{lo.translationLanguage.toUpperCase()}}&lopFilter={{lo.provider.name}}&excludes=-id:{{lo.id}}&itemsPerPage=25&sortCriteria=0&tab=los">
					<span data-ki-i18n="tarjoajan"></span> {{lo.provider.name}} <span data-ki-i18n="muita-koulutuksia"></span> </a>
			</li>
			<li>
				<i class="icon-angle-double-right"></i>
				<a data-ng-href="#!/haku/*?page=1&facetFilters=teachingLangCode_ffm:{{lo.translationLanguage.toUpperCase()}}&educationCodeFilter={{lo.educationCode}}&excludes={{lopExclField}}:{{lo.provider.name}}&itemsPerPage=25&sortCriteria=0&tab=los">
					{{lo.educationCode}} <span data-ki-i18n="muualla"></span> </a>
			</li>
			<li data-ng-repeat="theme in lo.themes">
				<i class="icon-angle-double-right"></i>
				<a data-ng-href="#!/haku/*?page=1&facetFilters=teachingLangCode_ffm:{{lo.translationLanguage.toUpperCase()}}&facetFilters=theme_ffm:{{theme.uri}}&facetFilters=educationType_ffm:{{lo.educationType}}&excludes={{lopExclField}}:{{lo.provider.name}}&itemsPerPage=25&sortCriteria=0&tab=los">
					{{theme.description}} <span data-ki-i18n="mukainen-koulutus-muualla"></span> </a>
			</li>
		</ul>
		<!-- END PREVIEW EXCLUDE -->

		<!-- PREVIEW -->
		<ul data-ng-if="lo.preview">
			<li>
				<span data-ki-i18n="tarjoajan"></span> {{lo.provider.name}} <span data-ki-i18n="muita-koulutuksia"></span>
			</li>
			<li>
				{{lo.educationCode}} <span data-ki-i18n="muualla"></span>
			</li>
			<li data-ng-repeat="theme in lo.themes">
				{{theme.description}} <span data-ki-i18n="mukainen-koulutus-muualla"></span>
			</li>
		</ul>
		<!-- END PREVIEW -->
	</div>
</div>
<div class="application-container margin-bottom-4">
	<h3 class="title"><span data-ki-i18n="lue-lisaa"></span></h3>
	<div class="content">
		<!-- PREVIEW EXCLUDE -->
		<ul class="nobullet" data-ng-if="!lo.preview">
			<li data-ng-repeat="article in lo.edCodeSuggestions">
				<i class="icon-angle-double-right"></i>
				<a data-ng-href="{{article.url}}">
					{{article.title | unsafe}}</a>
			</li>
			<li data-ng-repeat="article in lo.edTypeSuggestions">
				<i class="icon-angle-double-right"></i>
				<a data-ng-href="{{article.url}}">
					{{article.title | unsafe}} </a>
			</li>
		</ul>
		<!-- END PREVIEW EXCLUDE -->

		<!-- PREVIEW -->
		<ul data-ng-if="lo.preview">
			<li data-ng-repeat="article in lo.edCodeSuggestions">
					{{article.title | unsafe}}
			</li>
			<li data-ng-repeat="article in lo.edTypeSuggestions">
					{{article.title | unsafe}}
			</li>
		</ul>
		<!-- END PREVIEW -->
	</div>
</div>