<div class="grid16-6 application-container">
	<h3 class="title"><span data-ki-i18n="katso-myos"></span></h3>
	<div class="content">
		<ul class="nobullet">
			<li>
				<a data-ng-href="#!/haku/*?page=1&facetFilters=teachingLangCode_ffm:{{lo.translationLanguage.toUpperCase()}}&lopFilter={{lo.provider.name}}&itemsPerPage=25&sortCriteria=0&tab=los">
					<span data-ki-i18n="tarjoajan"></span> {{lo.provider.name}} <span data-ki-i18n="muita-koulutuksia"></span> </a>
			</li>
			<li>
				<a data-ng-href="#!/haku/*?page=1&facetFilters=teachingLangCode_ffm:{{lo.translationLanguage.toUpperCase()}}&educationCodeFilter={{lo.educationCode}}&itemsPerPage=25&sortCriteria=0&tab=los">
					{{lo.educationCode}} <span data-ki-i18n="muualla"></span> </a>
			</li>
			<li data-ng-repeat="theme in lo.themes">
				<a data-ng-href="#!/haku/*?page=1&facetFilters=teachingLangCode_ffm:{{lo.translationLanguage.toUpperCase()}}&facetFilters=theme_ffm:{{theme.value}}&itemsPerPage=25&sortCriteria=0&tab=los">
					{{theme.description}} <span data-ki-i18n="mukainen-koulutus-muualla"></span> </a>
			</li>
		</ul>
	</div>
</div>