<section id="main-info">
    <div>
        <h4 class="margin-0">{{provider.name}}</h4>
        <span data-ng-show="lo.polytechnic" class="block">{{lo.educationDomain}}</span>
        <span class="block">{{lo.qualification}}</span>
        <span data-ng-repeat="parent in lo.parents">
        	<span class="block">
        		<a data-ng-href="#!/korkeakoulu/{{parent.id}}" class="margin-right-1">{{parent.name}}</a> 
        		<!-- PREVIEW -->
        		<span data-ng-if="lo.preview" data-ki-preview-status-label="parent.status"></span>
        		<!-- END PREVIEW -->
        	</span>
        </span>
    </div>
    <h1 class="inline-block margin-right-2">{{lo.name}}<span data-ng-show="lo.creditValue">, {{lo.creditValue}} {{lo.creditUnit}}</span> </h1>
    
    <!-- PREVIEW -->
    <div data-ng-if="lo.preview" class="inline-block">
        <span data-ki-preview-status-label="lo.status" class="margin-right-1"></span>
        <a href="{{lo.tarjontaEditUrl}}" class="cssbutton blue"><span data-ki-i18n="tarjontaMuokkaa"></span></a>
    </div>
    <!-- END PREVIEW -->
    
    <div data-ki-child-ribbon data-children="lo.children" type="loType" class="ribbon margin-bottom-2"></div>
</section>