<section id="main-info">
    <h4>{{provider.name}}</h4>

    <div data-ng-repeat="parent in lo.parents">
    	<span>
    		<a data-ng-href="#!/korkeakoulu/{{parent.id}}">{{parent.name}}</a> 
    		<!-- PREVIEW -->
    		<span data-ng-if="lo.preview" data-ki-preview-status-label="parent.status" data-lang="virkailijaLang"></span>
    		<!-- END PREVIEW -->
    	</span>
    </div>
    <h1 class="inline">{{lo.name}}</h1>
    
    <!-- PREVIEW -->
    <div data-ng-if="lo.preview" class="inline preview-actions">
        <span data-ki-preview-status-label="lo.status" data-lang="virkailijaLang"></span>
        <a class="btn btn-info" href="{{lo.tarjontaEditUrl}}" data-ki-i18n="tarjonta-muokkaa-koulutus" data-lang="{{virkailijaLang}}"></a>
    </div>
    <!-- END PREVIEW -->
    
    <div>
        <span tabindex="0" class="label label-subject" data-ng-repeat="subject in lo.subjects | orderBy:'toString()'" data-ng-click="selectLabel(subject)" data-ng-keypress="selectLabel(subject)">{{subject}}</span>
    </div>
    
    <div data-ki-child-ribbon data-children="lo.children" data-lang="virkailijaLang" type="loType" class="ribbon"></div>
</section>