/* >= IE8 specific styles */
#overlay {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
  zoom: 1; }

header .search .search-field {
  background-color: #fff5da; }
