<figure data-ki-organization-image data-providerimage="provider.providerImage"></figure>
<div data-ki-social-links data-curprovider="provider"></div>
<div data-ki-language-ribbon data-languages="lo.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>

<div data-ki-collapse-block data-title-value="provider.name" data-content="provider" data-anchor="oppilaitos-anchor">
    <div data-ki-organization></div>
</div>
<div data-ki-collapse-text-block data-title="accessibility-and-learning-support" data-content="provider.accessibility" data-anchor="esteettomyys-anchor"></div>
<div data-ki-collapse-block data-title="student-benefits" data-content="provider" data-anchor="edut-anchor">
    <div data-ki-student-benefits></div>
</div>
<div data-ki-collapse-block data-title="info-center" data-content="provider.applicationOffice">
    <div data-ki-info-center-address></div>
</div>
<div data-ki-collapse-block data-title="contact-information" data-content="provider" data-anchor="yhteystiedot-anchor">
    <div data-ki-contact-info></div>
</div>