<section class="container">
    <div data-ki-ajax-loader data-active="isLoading"></div>
    <div class="row">
        <div class="col-xs-16">
            <div data-ki-breadcrumb="breadcrumb-search-results"  data-provider="provider" id="breadcrumb"></div>
        </div>
    </div>
    <h1>{{provider.name}}</h1>
    <div style="border: 1px solid gainsboro; padding: 20px;">
        <div class="row">
            <div class="col-md-11" data-ng-include data-src="'partials/organisation/content.html'"></div>
            <div class="col-md-5" data-ng-include data-src="'partials/organisation/aside.html'"></div>
        </div>
    </div>
</section>