<td>
    <h4>{{item.providerName}}, <span class="capitalize">{{item.providerLocation}}</span></h4>
    <a href="#!/ammatillinenaikuiskoulutus/{{item.parent.id}}">{{item.parent.name}}<span data-ng-if="item.educationKind">, {{item.educationKind}}</span></a>
    <ul class="inside list-unstyled">
        <li data-ng-repeat="child in item.children">{{child.name}}</li>
    </ul>
</td>

<td>
    <h4>{{item.name}}</h4>
    <div data-ng-if="isErikseenHaettava(as)" data-ki-application-time data-dates="item.applicationDates" data-hakutapa="item.hakutapaUri" data-label="item.asName"></div>
</td>

<td>
    <div data-ng-include src="'js/directives/AppBasket/common/attachmentsAndExams.html'"></div>
</td>

<td class="last text-right">
    <div data-ng-include src="'js/directives/AppBasket/common/aoActions.html'"></div>
</td>


