<td>
    <h4>{{item.providerName}}, <span class="capitalize">{{item.providerLocation}}</span></h4>
    <div data-ng-repeat="los in losRefs">
        <a href="#!/ammatillinenaikuiskoulutus/{{los.id}}" class="inline-block">{{los.name}}</a>
        <span data-ng-if="los.fieldOfExpertise" class="inline-block">{{los.fieldOfExpertise}}</span>
    </div>
</td>

<td>
    <h4>{{item.name}}</h4>
    <div data-ng-if="isErikseenHaettava(as)" data-ki-application-time data-dates="item.applicationDates" data-hakutapa="item.hakutapaUri" data-label="item.asName"></div>
</td>

<td>
    <div data-ng-include src="'js/directives/AppBasket/common/attachmentsAndExams.html'"></div>
</td>

<td class="last text-right">
    <div data-ng-include src="'js/directives/AppBasket/common/aoActions.html'"></div>
</td>


