<div class="result-content">
    <h2 title="{{locales.openEducation}}"><a href="{{lo.linkHref}}">{{lo.name}}, {{lo.credits}}</a></h2>
    <span class="italic" data-ki-i18n="et4"></span><br />
    <span>{{lo.lopName}}</span>
</div>
<span data-ki-as-state class="state-label">&nbsp;</span>
<div class="clear"></div>

<div data-extended-searchresult-data="erityisopetus" data-toggle-collapse>
    <div class="grid16-8">
        <h4 class="margin-top-0 margin-bottom-1" data-ki-i18n="basic-information"></h4>
        <div data-sr-basic-information></div>
    </div>

    <div class="grid16-8">
        <div data-sr-hakukohteet>
            <div data-sr-not-applicable></div>
        </div>
    </div>
    <div class="clear"></div>
</div>