<footer>
    <p class="small" data-ki-i18n="footer-note"></p>
    <div class="footer-wrapper">
        <div class="footer-item">
            <a href="#" title="Opetushallitus"><img src="img/OPH_logo.png" alt="Opetushallitus"></a>
        </div>
        <div class="footer-item">
            <p>
                Opetushallitus
                <br>Haklaniemenranta 6
                <br>PL 380, 00531 Helsinki
                <br>puhelin 029 533 1000
            </p>
        </div>

        <div class="footer-item">
            <a href="#" title="Opetus- ja kulttuuriministeriö"><img src="img/OKM_logo.png" alt="Opetus- ja kulttuuriministeriö"></a>
        </div>
        <div class="footer-item">
            <p>
                Opetus- ja kulttuuriministeriö
                <br>PL 29, 00023 Valtioneuvosto
                <br>puhelin 0295 3 30004
            </p>
        </div>
        <div class="clear"></div>
    </div>

    <p class="small">
        <span data-ki-i18n="footer-copyright"></span> - <a href="#" data-ki-i18n="footer-privacy-policy"></a>
    </p>

</footer>
<!--
<footer id="sitefooter">

    <div class="footer-container">

        <div class="grid16-4">
            <div class="grid-container">
                Leipäteksti #000 line-height: 1.8em font-size: 1.3em (body font-size: 62.5% = 10px) Lorem ipsum dolor
                sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                erat volutpat.
            </div>
        </div>

        <div class="grid16-12">
            <div class="grid16-4 ">
                <div class="grid-container">
                    <h3> 1st column - Lorem ipsum</h3>

                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="grid16-4">
                <div class="grid-container">
                    <h3>2nd column - Lorem ipsum </h3>

                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                        aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="grid16-4">
                <div class="grid-container">
                    <h3> 3st column - Lorem ipsum</h3>

                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="grid16-4">
                <div class="grid-container">
                    <h3>4nd column - Lorem ipsum </h3>

                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                        aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="grid16-8 footer-logo">
                <img src="img/content/logo-opetus-ja-kulttuuriministerio.png">
            </div>
            <div class="grid16-8 footer-logo">
                <img src="img/content/logo-oph_fin_vaaka.png">
            </div>
        </div>

        <div class="clear"></div>

    </div>
</footer>
-->