<footer data-ng-controller="FooterCtrl">
    <p class="small" data-ki-i18n="footer-note"></p>
    <div class="footer-wrapper">
        <div class="footer-item">
            <a href="#" title="{{locales.opetushallitus}}"><img data-ng-src="{{images.opetushallitus}}" alt="{{locales.opetushallitus}}"></a>
        </div>
        <div class="footer-item">
            <p>
                <span data-ki-i18n="opetushallitus-address-line-1"></span>
                <br/><span data-ki-i18n="opetushallitus-address-line-2"></span>
                <br/><span data-ki-i18n="opetushallitus-address-line-3"></span>
                <br/><span data-ki-i18n="opetushallitus-address-line-4"></span>
            </p>
        </div>

        <div class="footer-item">
            <a href="#" title="{{locales.opetusministerio}}"><img data-ng-src="{{images.opetusministerio}}" alt="{{locales.opetusministerio}}"></a>
        </div>
        <div class="footer-item">
            <p>
                <span data-ki-i18n="opetusministerio-address-line-1"></span>
                <br/><span data-ki-i18n="opetusministerio-address-line-2"></span>
                <br/><span data-ki-i18n="opetusministerio-address-line-3"></span>
            </p>
        </div>
        <div class="clear"></div>
    </div>

    <p class="small">
        <span data-ki-i18n="footer-copyright"></span> - <a href="http://opintopolku.fi/rekisteriseloste" data-ki-i18n="footer-privacy-policy"></a>
    </p>

</footer>