<section class="container">
    <div data-ki-ajax-loader data-active="!lo"></div>

	<!-- PREVIEW -->
	<div data-ng-if="lo.preview">
        <p>
            <a href="{{tarjontaViewUrl}}" class="btn btn-primary">
                <i class="icon-left"></i>
                <span data-ki-i18n="tarjontaTarkastelu" data-lang="{{virkailijaLang}}"></span>
            </a>
        </p>
        <p data-ki-i18n="preview-help" data-lang="{{virkailijaLang}}"></p>
        <hr/>
    </div>
    <!-- END PREVIEW-->
    
    <!-- PREVIEW EXCLUDE -->
    <div data-ng-if="!lo.preview" data-ki-breadcrumb="breadcrumb-search-results" data-parent="parent" data-lo="lo" data-lo-type="loType" id="breadcrumb"></div>
    <!-- END PREVIEW EXCLUDE -->

    <div data-ng-include data-src="partialUrl + 'top.html'"></div>
    <div data-ng-controller="LoTabCtrl">
        <div data-tabset role="tablist" id="lo-tablist">
            <div data-tab
                 data-heading="{{tabtitle.koulutus}}"
                 data-active="tabs[0]"
                 title="{{tabtitle.koulutus}}"
                 aria-selected="true"
                 aria-controls="lo-panel1"
                 tabindex="0"
                 role="tab"
                 class="tab"
                    >
                <section role="tabpanel" class="panel" id="lo-panel1" >
                    <div data-ng-include data-src="partialUrl + 'kuvaus.html'" class="row"></div>
                </section>
            </div>
            <div data-tab
                 data-heading="{{tabtitle.valintaperusteet}}"
                 data-active="tabs[1]"
                 title="{{tabtitle.valintaperusteet}}"
                 aria-selected="false"
                 aria-controls="lo-panel2"
                 tabindex="-1"
                 role="tab"
                 class="tab"
                    >
                <section role="tabpanel" class="panel" id="lo-panel2">
                    <div data-ng-include data-src="partialUrl + 'hakeutuminen.html'" class="row"></div>
                </section>
            </div>
            <div data-tab
                 data-heading="{{provider.name}}"
                 data-active="tabs[2]"
                 title="{{provider.name}}"
                 class="fluid tab"
                 tabindex="-1"
                 aria-selected="false"
                 aria-controls="lo-panel3"
                 role="tab"
                    >
                <section role="tabpanel" class="panel" id="lo-panel3">
                    <div data-ng-include data-src="partialCommonUrl + 'oppilaitos.html'" class="row"></div>
                </section>
            </div>
            
            <!-- responsive tabdrop -->
            <div class="pull-right tabdrop" dropdown is-open="status.isopen">
                <div class="dropdown-toggle tabdrop-toggler">
                    <div class="tabdrop-label">
                        <div class="icon-bar"></div>
                        <div class="icon-bar"></div>
                        <div class="icon-bar"></div>
                    </div>
                    <span class="caret"></span>
                    <span class="sr-only">Näytä muut välilehdet</span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li data-ng-if="!tabs[0]"><a href="javascript:void(0)" data-ng-click="tabs[0] = true">{{tabtitle.koulutus}}</a></li>
                    <li data-ng-if="!tabs[1]"><a href="javascript:void(0)" data-ng-click="tabs[1] = true">{{tabtitle.valintaperusteet}}</a></li>
                    <li data-ng-if="!tabs[2]"><a href="javascript:void(0)" data-ng-click="tabs[2] = true">{{provider.name}}</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</section>