<nav class="main-navigation" id="navigation">
    <ul class="navigation">
        <!-- <li class="home"><a href="">Etusivu</a></li> -->
        <li><a href="osio/osio_etusivu">Lukio</a></li>
        <li><a href="#">Ammatillinen koulutus</a></li>
        <li><a href="#">Ammattikorkeakoulu</a></li>
        <li>
            <a href="#">Yliopisto</a>
            <ul class="dropdown" style="display: none;">
                <li class="header"><span>Alinavigaation otsikko</span></li>
                <li class="first-item"><a href="#">Tampereen Teknillinen Yliopisto</a></li>
                <li class="sub-dropdown">
                    <a href="#">Helsingin Yliopisto</a>
                    <ul style="display: none;">
                        <li class="header"><span>Alinavigaation otsikko</span></li>
                        <li class="first-item"><a href="#">Tampereen Teknillinen Yliopisto</a></li>
                        <li><a href="#">Helsingin Yliopisto</a></li>
                        <li><a href="#">Turun Yliopisto</a></li>
                    </ul>
                </li>
                <li><a href="#">Turun Yliopisto</a></li>
            </ul>
        </li>
        <li><a href="#">Täydennyskoulutus</a></li>
        <li><a href="#">Opintojen valinta</a></li>
    </ul>
</nav>
<div class="clear"></div>