<div id="pageheader" data-ng-controller="SearchFieldCtrl">
    <!--<div ng-include src="'partials/navigaatio.html'" onload="initNavigation()"></div>-->
    <section>
        <div id="searchfield-wrapper">
            <div id="searchfield">
                <form method="get" data-ng-submit="search()" novalidate>
                    <div class="field-container-text">
                        <input type="text" name="text" required="required" value=""
                        class="haku" data-ng-model="queryString" placeholder="{{searchFieldPlaceholder}}" />
                    </div>
                    <button class="btn-search" type="submit" id="btn-search" >
                        <span><span></span></span>
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>