<!--<div ng-include src="'partials/pageheader.html'"></div> -->
<section class="content-container margin-bottom-2 grid16-16">
    <div ki-breadcrumb id="breadcrumb"></div>
    <!--
   <section class="margin-bottom-4">
    <button class="left">
        <span>
            <span ng-click="back()">Takaisin hakutuloksiin</span>
        </span>
    </button>
</section>
-->
<section id="main-info">
    <h2>
    <span class="block"><span class="bold"></span>{{parentLO.provider.name}}</span>
    <span class="block">{{parentLO.educationDomain}}<span class="hidden">, lähihoitaja (tutkintonimike)</span></span>
</h2>
    <h1>{{parentLO.name}}, {{parentLO.credits.creditValue}} {{parentLO.credits.creditUnit}}</h1>
</section>
<div class="tabs main">
    <a class="tab current" data-tabs-group="koulutus" data-tabs-id="kuvaus"><span data-ki-i18n="lo-description"></span></a>
    <a class="tab" data-tabs-group="koulutus" data-tabs-id="hakeutuminen"><span data-ki-i18n="lo-application"></span></a>
    <a class="tab" data-tabs-group="koulutus" data-tabs-id="oppilaitos"><span>{{parentLO.provider.name}}</span></a>
</div>
<div class="tabsheets">
    <section class="tabsheet" style="display: block;" data-tabs-group="koulutus" data-tabs-id="kuvaus">
        <div ng-include src="'partials/tabs/kuvaus_ylataso.html'"></div>
    </section>
    <section class="tabsheet" data-tabs-group="koulutus"  data-tabs-id="hakeutuminen">
        <div ng-include src="'partials/tabs/hakeutuminen.html'" onload="initTabs()"></div>
    </section>
    <section class="tabsheet" data-tabs-group="koulutus"  data-tabs-id="oppilaitos">
        <div ng-include src="'partials/tabs/oppilaitos.html'"></div>
    </section>
</div>
</section>