<!--<div ng-include src="'partials/pageheader.html'"></div> -->
<section class="content-container grid16-16">
    <div data-ki-breadcrumb id="breadcrumb"></div>
    <section id="main-info">
        <div class="margin-bottom-3">
            <h4 class="margin-0">{{parentLO.provider.name}}</h4>
            <span class="block">{{parentLO.educationDomain}}<span class="hidden">, lähihoitaja (tutkintonimike)</span></span>
        </div>
        <h1 class="">{{parentLO.name}} {{parentLO.credits.creditValue}} {{parentLO.credits.creditUnit}}</h1>
        <div data-ki-child-ribbon class="ribbon margin-bottom-4"></div>
    </section>
    <div class="tabs main clear">
        <a class="tab current" data-tabs-group="koulutus" data-tabs-id="kuvaus" data-ng-click="changeMainTab('kuvaus')"><span class="h2" data-ki-i18n="lo-description"></span></a>
        <a class="tab" data-tabs-group="koulutus" data-tabs-id="hakeutuminen" data-ng-click="changeMainTab('hakeutuminen')"><span class="h2" data-ki-i18n="lo-application"></span></a>
        <a class="tab" data-tabs-group="koulutus" data-tabs-id="oppilaitos" data-ng-click="changeMainTab('oppilaitos')"><span class="h2 fluid" title="{{parentLO.provider.name}}">{{parentLO.provider.name}}</span></a>
    </div>
    <div class="tabsheets" data-ng-controller="ApplicationCtrl">
        <section class="tabsheet" style="display: block;" data-tabs-group="koulutus" data-tabs-id="kuvaus">
            <div data-ng-include data-src="'partials/tabs/kuvaus_ylataso.html'"></div>
        </section>
        <section class="tabsheet" data-tabs-group="koulutus"  data-tabs-id="hakeutuminen">
            <div data-ng-include data-src="'partials/tabs/hakeutuminen.html'"></div>
        </section>
        <section class="tabsheet" data-tabs-group="koulutus"  data-tabs-id="oppilaitos">
            <div data-ng-include data-src="'partials/tabs/oppilaitos.html'"></div>
        </section>
        <div data-ng-class="providerAsideClass" data-ng-include data-src="'partials/tabs/oppilaitos-aside.html'"></div>
        <div data-ng-class="applyFormClass" data-ng-include data-src="'partials/tabs/haku.html'"></div>
        <div class="clear"></div>
    </div>
</section>