<button data-ng-if="!as.applicationFormLink" type="submit" data-ng-disabled="!ao.canBeApplied || lo.preview">
	<span>
		<span data-ki-i18n="apply-button-label-additional"></span>
	</span>
</button>

<div class="inline-block" data-ng-if="as.applicationFormLink">
    <a data-ng-if="ao.canBeApplied" data-ng-href="{{as.applicationFormLink}}" title="{{tooltips.externalApplicationForm}}" target="_blank">
    <i class="icon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
    </a>
    <span data-ng-if="!ao.canBeApplied" class="text-disabled">
        <i class="icon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
    </a>
</div>