<div data-ng-show="showAttachments">
    <h2 data-ki-i18n="required-attachments"></h2>
    <div data-ng-repeat="att in attachments" data-ng-show="att.descreption">
        <span class="bold">{{att.type}}</span>
        <div data-ng-bind-html-unsafe="att.descreption"></div>
    </div>
    <table class="striped">
        <colgroup>
            <col style="width: 34%;"></col>
            <col></col>
            <col style="width: 33%;"></col>
        </colgroup>
        <thead>
            <tr>
                <th data-ki-i18n="attachment-header-name"></th>
                <th data-ki-i18n="attachment-header-address"></th>
                <th data-ki-i18n="attachment-header-duedate"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="att in attachments" data-ng-class="{first: $first, last: $last}">
                <td>{{att.type}}</td>
                <td>
                    <span data-ng-show="att.address.streetAddress">{{att.address.streetAddress}}<br /></span>
                    <span data-ng-show="att.address.streetAddress2">{{att.address.streetAddress2}}<br /></span>
                    <span data-ng-show="att.address.postalCode">{{att.address.postalCode}}</span>
                    <span data-ng-show="att.address.postOffice">{{att.address.postOffice}}</span>
                </td>
                <td class="last">
                    <span data-ki-timestamp="{{att.dueDate}}"></span>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>