<div data-ng-show="isVisible()" class="panel panel-tarjonta">
    <div class="panel-heading">
        <a href="javascript:void(0)" data-ng-click="toggleState()" class="panel-title" id="{{anchor}}">
            <h2 class="collapser" data-ng-class="{opened: !isClose, closed: isClose}">
                <span data-ng-if="title" data-ki-i18n="{{title}}" data-lang="{{translationLanguage}}"></span>
                <span data-ng-if="titleValue">{{titleValue}}</span>
            </h2>
        </a>
    </div>
    <div class="panel-body">
        <div class="tarjonta-content" data-collapse="isClose">
            <div class="collapse-content-container"></div>
        </div>
    </div>
</div>