<div data-ng-if="content" class="panel panel-tarjonta">
    <div class="panel-heading">
        <a href="javascript:void(0);" data-ng-click="toggleState()" class="block panel-title">
            <h2 class="collapser" data-ng-class="{opened: !isClose, closed: isClose}" id="{{anchor}}">
                <span data-ki-i18n="{{title}}" data-lang="{{translationLanguage}}"></span> 
            </h2>
        </a>
    </div>
    <div class="panel-body">
        <div class="tarjonta-content" data-collapse="isClose">
            <div data-ng-bind-html="content | externalLinks | tables | unsafe"></div>
        </div>
    </div>
</div>