<div data-ng-show="contactPersons">
	<h2 data-ng-show="contactPersons[0].isNayttotutkinto" data-ki-i18n="competence-contact-person-title" data-lang="{{translationLanguage}}"></h2>
	<h2 data-ng-hide="contactPersons[0].isNayttotutkinto" data-ki-i18n="contact-person-title" data-lang="{{translationLanguage}}"></h2>
	<p data-ng-repeat="person in contactPersons">
		<span data-ng-if="person.type == 'ECTS_KOORDINAATTORI'">
			<span data-ki-i18n="ects-coordinator"></span><br/>
		</span>
		<span data-ng-if="person.type != 'ECTS_KOORDINAATTORI'">
			<span data-ng-show="person.title">{{person.title}}<br /></span>
		</span>
		<span data-ng-show="person.name">{{person.name}}</span><br />
		<span data-ng-show="person.email">
			<span data-ki-i18n="plain:email" data-show-colon="true" data-lang="{{translationLanguage}}"></span> <span data-ki-email="{{person.email}}"></span><br />
		</span>
		<span data-ng-show="person.phone">
			<span data-ki-i18n="plain:phone" data-show-colon="true" data-lang="{{translationLanguage}}"></span> {{person.phone}}<br />
		</span>
	</p>
</div>