<div data-ng-repeat="exam in exams">
	<h2>{{exam.type}}</h2>
	<div data-render-text-block data-content="{{exam.description}}"></div>
	
	<div data-ng-repeat="event in exam.examEvents">
		<span data-ki-timestamp="{{event.start}}" data-precise="true" class="bold"></span> - <span data-ki-timestamp="{{event.end}}" data-precise="true" class="bold"></span>
		<p>{{event.description}}</p>
		<span>{{event.address.streetAddress}}</span><br />
		<span>{{event.address.postalCode}}</span> <span>{{event.address.postOffice}}</span>
	</div>
	<!--
	<table>
		<thead></thead>
		<tbody>
			<tr data-ng-repeat="event in exam.examEvents">
				<td>{{event.description}}</td>
				<td>
					<span data-ki-timestamp="{{event.start}}" data-precise="true" class="bold"></span> - <span data-ki-timestamp="{{event.end}}" data-precise="true" class="bold"></span>
				</td>
				<td>
					<span>{{event.address.streetAddress}}</span><br />
					<span>{{event.address.postalCode}}</span> <span>{{event.address.postOffice}}</span>
				</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
	</table>
	-->
</div>