<div data-ng-repeat="exam in exams" class="exams">
	<h2>{{exam.type}}</h2>
	<div data-render-text-block data-content="{{exam.description}}"></div>
	<table class="margin-bottom-2 margin-top-2">
		<colgroup>
            <col style="width: 34%;"></col>
            <col></col>
            <col style="width: 33%;"></col>
        </colgroup>
		<thead>
		</thead>
		<tbody>
			<tr data-ng-repeat="event in exam.examEvents" data-ng-class="rowClass($first, $last)">
				<td>{{event.description}}</td>
				<td>
					<span data-ki-timestamp="{{event.start}}" data-precise="true" class="bold"></span> - <span data-ki-timestamp="{{event.end}}" data-precise="true" class="bold"></span>
				</td>
				<td class="last">
					<span>{{event.address.streetAddress}}</span><br />
					<span>{{event.address.postalCode}}</span> <span>{{event.address.postOffice}}</span>
				</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
	</table>
	
</div>