<div data-ng-show="showContact">
<h2 data-ki-i18n="info-center" data-lang="{{translationLanguage}}"></h2>
<p>
    <span data-ng-show="provider.name">
    {{provider.name}}<br/>
    </span>
    <p data-ng-show="provider.visitingAddress">
    {{provider.visitingAddress.streetAddress}}<br/>
    <span data-ng-show="provider.visitingAddress.streetAddress2">{{provider.visitingAddress.streetAddress2}}<br /></span>
    {{provider.visitingAddress.postalCode}} {{provider.visitingAddress.postOffice}}<br />
    </p>
    <p data-ng-show="provider.postalAddress">
    {{provider.postalAddress.streetAddress}}<br />
    <span data-ng-show="provider.postalAddress.streetAddress2">{{provider.postalAddress.streetAddress2}}<br /></span>
    {{provider.postalAddress.postalCode}} {{provider.postalAddress.postOffice}}<br />
    </p>
    <span data-ng-show="provider.email">
    <span data-ki-email="{{provider.email}}"></span><br/>
    </span>
    <span data-ng-show="provider.phone">
    puh. {{provider.phone}}<br />
    </span>
    <span data-ng-show="provider.fax">
    fax. {{provider.fax}}
    </span>
    <span data-ng-show="provider.www">
        <a data-ki-absolute-link="{{provider.www}}" target="_blank">{{provider.www}}</a>
    </span>
</p>

</div>