<table class="table table-striped table-condensed table-responsive">
    <tbody class="headless">
        <tr data-ng-repeat="langItem in languageSelection" data-ng-class="{last: $last, first: $first}">
            <td data-ki-i18n="{{langItem.subjectCode}}" data-lang="{{translationLanguage}}"></td>
            <td class="last">
                <span data-ng-repeat="language in langItem.languages">
                    {{language}}<span data-ng-hide="$last">,</span>
                </span>
            </td>
        </tr>
    </tbody>
</table>
