<div ng-show="hasMultipleTranslations">
	<span class="ribbon-label margin-right-1">{{label}}</span>
	<ul class="ribbon-content">
		<span data-ng-switch="isChild">
			<span data-ng-switch-when="true">
				<li data-ng-repeat="lng in childLO.availableTranslationLanguages"><a data-ng-click="changeDescriptionLanguage(lng)" data-ki-i18n="language-{{lng}}"></a></li>
			</span>
			<span data-ng-switch-when="false">
				<li data-ng-repeat="lng in parentLO.availableTranslationLanguages"><a data-ng-click="changeDescriptionLanguage(lng)" data-ki-i18n="language-{{lng}}"></a></li>
			</span>
		</span>
	</ul>
</div>
