 <div data-ng-show="showOrganization">
	<h2 id="{{anchor}}">{{provider.name}}</h2>
	<div data-render-text-block data-content="{{provider.description}}" data-level="3"></div>
 	<div data-render-text-block data-title="learning-environment-info" data-content="{{provider.learningEnvironment}}" data-level="3"></div>
 	<div data-render-text-block data-title="accessibility-and-learning-support" data-content="{{provider.accessibility}}" data-anchor="esteettomyys-anchor" data-level="3"></div>
 	<div data-render-text-block data-title="year-clock" data-content="{{provider.yearClock}}" data-level="3"></div>
 	
</div>