<h4 class="margin-top-0 margin-bottom-1" data-ki-i18n="degree-programmes"></h4>

<div data-ng-repeat="loItem in extendedLO.lo.lois">
    <div data-ng-repeat="applicationSystem in loItem.applicationSystems">
        <div data-ng-repeat="applicationOption in applicationSystem.applicationOptions">
           	<ul class="disc">
                <li data-ng-repeat="childRef in applicationOption.childRefs "><a href="#!/koulutusohjelma/{{childRef.losId}}">{{childRef.name}}</a></li>
            </ul>
        </div>
    </div>
</div>