<div id="select-location-dialog" data-ki-keyboard-control aria-labelledby="selected-location-dialog-title" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title" data-ki-i18n="valitse-alue"></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <form role="form">
                <div class="col-md-5">
                    <div class="form-group">
                        <label data-ki-i18n="district" for="districtSelection"></label>
                        <select size="10"
                        id="districtSelection"
                        class="form-control area-select"
                        multiple 
                        data-ng-multiple="true" 
                        data-ng-model="$parent.selectedDistricts" 
                        data-ng-options="dist.name for dist in distResult | orderBy:'name'"
                        data-set-focus-here
                        ></select>
                        <i class="h2 kicon-angle-right"></i>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label data-ki-i18n="municipality" for="municipalitySelection"></label>
                        <select size="10"
                        id="municipalitySelection"
                        class="form-control area-select"
                        multiple 
                        data-ng-multiple="true"
                        data-ng-model="$parent.selectedMunicipality" 
                        data-ng-options="mun.name for mun in muniResult"

                        ></select>
                        <i class="h2 kicon-angle-right"></i>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label data-ki-i18n="valitut-alueet"></label>
                        <ul class="select list-unstyled form-control">
                            <li data-ng-repeat="mun in selectedMunicipalities | orderBy:'name'">
                                <a title="{{titleLocales.removeFacet}}" href="javascript:void(0)" data-ng-click="removeMunicipality(mun.code)" >
                                    <span class="icon remove"></span>
                                    <span>{{mun.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <div>
            <button class="btn btn-default pull-left" data-ng-click="cancel()" data-ki-i18n="cancel"></button>
            <button class="btn btn-primary pull-right" data-ng-disabled="!selectedMunicipalities.length > 0" data-ng-click="filterBySelLocations()" data-ki-i18n="ok"></button>
        </div>
    </div>
</div>