<div class="row">
    <div class="col-md-16">
        <ul id="social">
            <li data-ng-repeat="socialItem in provider.social">
                <a data-ki-absolute-link="{{socialItem.url}}" class="{{socialItem.name}} social-icon" target="_blank"><span>{{socialItem.name}}</span></a>
                <a data-ki-absolute-link="{{socialItem.url}}" class="social-link" target="_blank"><span data-ki-i18n="external-social-link-{{socialItem.name}}"></span></a>
                <a data-ng-if="socialItem.name == 'muu'" data-ki-absolute-link="{{socialItem.url}}" class="" target="_blank"><span>({{socialItem.url}}).</span></a>
            </li>
        </ul>
    </div>
</div>