{% extends "base-fi.html" %}
{% block title %}{{ ctx.provider.name }} - {{ ctx.name }} - Koulutus{% endblock %}

{% block breadcrumb %}
<a href="/index.html">Kotinäkymä</a>
<span class="delimiter">&gt;</span>
<a href="index-1.html">{{title_erityis_koulutukset_fi}}</a>
<span class="delimiter">&gt;</span>
<span>{{ ctx.name }}, koulutuksen kuvaus</span>
{% endblock %}

{% block navi %}
<a href="{{ ctx.id }}-valintaperusteet.html">Hakeminen</a>
<a href="{{ ctx.id }}-oppilaitos.html">Oppilaitoskuvaus</a>
{% endblock %}

{% block content %}

{% set loi = ctx.lois[0] %}
{% set as = loi.applicationSystems[0] %}
{% set ao = as.applicationOptions[0] %}

<h1>{{ ctx.name }}, koulutuksen kuvaus</h1>

<h2>Perustiedot</h2>

<p>
<ul>
    <li>Koulutus alkaa: {{ loi.startDate|dateformat }}</li>
    <li>Opetuskieli: {{ ao.teachingLanguages|separated_list }}</li>
    <li>Opetusmuoto: {{ loi.formOfTeaching|separated_list }}</li>
    <li>Koulutuksen laajuus: {{ ctx.creditValue }} {{ ctx.creditUnit }}</li>
</ul>
</p>

{%if ctx.goals is defined %}
<h2>Tavoite</h2>
{{ ctx.goals }}
{% endif %}

{% if loi.content is defined %}
<h2>Koulutuksen sisältö</h2>
{{ loi.content }}
{% endif %}

{%if loi.webLinks is defined and loi.webLinks.KOULUTUSOHJELMA is defined %}
<h2>Opetussuunnitelma</h2>
<a href="{{loi.webLinks.KOULUTUSOHJELMA}}">{{ loi.webLinks.KOULUTUSOHJELMA  }}</a>
{% endif %}

{%if ctx.structure is defined %}
<h2>Opintojen rakenne</h2>
{{ ctx.structure }}
{% endif %}

{% if loi.workingLifePlacement is defined %}
<h2>Sijoittuminen työelämään</h2>
{{ loi.workingLifePlacement }}
{% endif %}

{% if loi.professionalTitles is defined %}
<h2>Ammattinimikkeet</h2>
<ul>
    {% for ptitle in loi.professionalTitles %}
    <li>{{ptitle}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if loi.internationalization is defined %}
<h2>Kansainvälistyminen</h2>
{{ loi.internationalization }}
{% endif %}

{% if loi.cooperation is defined %}
<h2>Yhteistyö muiden toimijoiden kanssa</h2>
{{ loi.cooperation }}
{% endif %}

{%if ctx.accessToFurtherStudies is defined %}
<h2>Jatko-opintomahdollisuudet</h2>
{{ ctx.accessToFurtherStudies }}
{% endif %}

{%if loi.contactPersons is defined %}
<h2>Koulutuksen yhteyshenkilöt</h2>

{% for person in loi.contactPersons %}
<p>
    <span>{{person.title}}</span><br/>
    <span>{{person.firstNames}} {{ person.lastName }}</span><br/>
    {% if person.email is defined %}
        <span>Sähköposti: <a href="mailto:{{ person.email }}">{{ person.email }}</a></span><br/>
    {% endif %}
    {% if person.phone is defined %}
        <span>Puhelin: <a href="tel:{{ person.phone }}">{{ person.phone }}</a></span>
    {% endif %}
    </li>
</p>
{% endfor %}

{% endif %}
{% endblock %}
