{% extends "base-sv.html" %}
{% block title %}{{ ctx.provider.name }} - {{ ctx.name }} - Beskrivning av utbildningen{% endblock %}
{% block content %}

{% set loi = ctx.lois[0] %}
{% set as = loi.applicationSystems[0] %}
{% set ao = as.applicationOptions[0] %}

<h1>{{ ctx.provider.name }} - {{ ctx.name }} - Undervisning</h1>

<h2>Grundläggande information</h2>

<p>
<ul>
    <li>Grundutbildning: {{ loi.prerequisite.description }}</li>
    <li>Utbildningen inleds: {{ loi.startDate|dateformat }}</li>
    <li>Undervisningsspråk: {{ ao.teachingLanguages|separated_list }}</li>
    <li>Undervisningsform: {{ loi.formOfTeaching|separated_list }}</li>
    <li>Utbildningens omfattning: {{ ctx.creditValue }} {{ ctx.creditUnit }}</li>
    <li>Planerade löptid: {{ loi.plannedDuration }} {{ loi.plannedDurationUnit }}</li>
</ul>
</p>

{%if ctx.goals is defined %}
<h2>Mål</h2>
{{ ctx.goals }}
{% endif %}

{%if ao.webLinks is defined %}
<h2>Läroplan</h2>
<p>
{% for wl in ao.webLinks %}
  {{ wl.KOULUTUSOHJELMA }}
{% endfor %}
</p>
{% endif %}

{%if ctx.structure is defined %}
<h2>Studiernas uppbyggnad</h2>
{{ ctx.structure }}
{% endif %}

{%if loi.languageSelection is defined %}
<h2>Språk</h2>
<p>
<ul>
{% for ls in loi.languageSelection %}
    <li>{{ ls.subjectCode }}: {{ ls.languages|separated_list }}</li>
{% endfor %}
</ul>
</p>
{% endif %}

{%if loi.diploma is defined %}
<h2>Gymnasiediplom</h2>
<p>
<ul>
{% for diploma in loi.diploma %}
    <li>{{ diploma }}</li>
{% endfor %}
</ul>
</p>
{% endif %}

{%if ctx.accessToFurtherStudies is defined %}
<h2>Fortsatta studiemöjligheter</h2>
{{ ctx.accessToFurtherStudies }}
{% endif %}

{%if loi.contactPersons is defined %}
<h2>Utbildningskontakter</h2>
<p>
<ul>
{% for person in loi.contactPersons %}
    <li>{{person.title}}<br/>
        {{person.firstNames}} {{ person.lastName }}<br/>
    {% if person.email is defined %}
        E-post: <a href="mailto:{{ person.email }}">{{ person.email }}</a><br/>
    {% endif %}
    {% if person.phone is defined %}
        Telefon: <a href="tel:{{ person.phone }}">{{ person.phone }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
</p>
{% endif %}
{% endblock %}
