<div class="row margin-vertical-small">
    <div class="col-xs-16">
        <div class="pull-left margin-right-small margin-vertical-small">
            <form name="levelSelectionForm-{{$id}}" id="application-form-{{applicationsystem.id}}-{{$id}}" action="{{hakuAppUrl(applicationsystem.id)}}" method="POST" target="hakulomake">
                <input type="hidden" name="preference1-Opetuspiste" value="{{extendedLO.lo.provider.name}}" />
                <input type="hidden" name="preference1-Opetuspiste-id" value="{{extendedLO.lo.provider.id}}" />
                <input type="hidden" name="preference1-Koulutus" value="{{applicationoption.name}}" />
                <input type="hidden" name="preference1-Koulutus-id" value="{{applicationoption.id}}" />
                <input type="hidden" name="preference1-Koulutus-educationDegree" value="{{extendedLO.lo.educationDegree}}" />
                <input type="hidden" name="preference1-Koulutus-id-sora" value="{{applicationoption.sora}}" />
                <input type="hidden" name="preference1-Koulutus-id-lang" value="{{applicationoption.teachLang}}" />
                <input type="hidden" name="preference1-Koulutus-id-athlete" value="{{provider.athleteEducation || applicationoption.athleteEducation}}" />
                <input type="hidden" name="preference1-Koulutus-id-aoIdentifier" value="{{applicationoption.aoIdentifier}}" />
                <input type="hidden" name="preference1-Koulutus-id-kaksoistutkinto" value="{{applicationoption.kaksoistutkinto}}" />
                <input type="hidden" name="preference1-Koulutus-id-vocational" value="{{applicationoption.vocational}}" />
                <input type="hidden" name="preference1-Koulutus-id-educationcode" value="{{applicationoption.educationCodeUri}}" />
                <input type="hidden" name="preference1-Koulutus-id-discretionary" value="{{applicationoption.kysytaanHarkinnanvaraiset}}" />
                <span data-ng-if="applicationoption.requiredBaseEducations">
                    <input type="hidden" name="preference1-Koulutus-requiredBaseEducations" value="{{applicationoption.requiredBaseEducations.join(',')}}" />
                </span>

                <button data-ng-if="applicationsystem.useSystemApplicationForm" class="btn btn-default" type="submit" data-ng-disabled="!applicationoption.canBeApplied">
                    <span data-ng-if="!applicationsystem.isLisahaku" data-ki-i18n="apply-button-label"></span>
                    <span data-ng-if="applicationsystem.isLisahaku" data-ki-i18n="apply-button-label-additional"></span>
                </button>

                <div data-ng-include="'partials/lo/common/externalApplicationFormLink.html'" data-onload="ao = applicationoption; as = applicationsystem;"></div>

                <!-- Lomake-editorin lomake -->
                <a data-ng-if="applicationsystem.ataruFormKey"
                        data-ng-href="{{ applicationoption.canBeApplied ? ataruAppUrl(applicationoption.id) + '?lang=' + $root.lang : '' }}"
                        data-ng-disabled="!applicationoption.canBeApplied"
                        class="btn btn-default"
                        target="_blank"
                        data-ki-i18n="apply-button-label">
                </a>
            </form>
        </div>
    
        <div data-ng-if="!applicationsystem.isLisahaku && applicationoption.applicationEndDate > date">
            <div data-sr-application-basket data-ng-switch="isItemAddedToBasket(applicationoption.id)" class="pull-left" aria-live="polite" role="status">
                <span data-ng-switch-when="true">
                    <span data-ki-i18n="popover-title-success"></span><br/>
                    <a data-set-focus-here href="#!/muistilista" data-ki-i18n="popover-content-link-to-application-basket"></a>
                </span>
                <button
                data-ng-switch-default
                type="button" 
                id="addToBasket-{{$id}}" 
                class="btn btn-primary"
                data-popover-placement="bottom" 
                data-popover="{{popoverContent}}" 
                data-popover-title="{{popoverTitle}}" 
                data-popover-trigger="click"
                data-ng-click="addToBasket(applicationoption.id)">
                    <span>
                        <span data-ki-i18n="add-to-basket-label"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="text-muted" data-ki-application-status-label data-ao="applicationoption"></div>
