<button data-ng-if="!as.applicationFormLink" type="submit" data-ng-disabled="!ao.canBeApplied || lo.preview">
    <span>
        <span data-ki-i18n="apply-button-label" data-lang="{{teachingLang}}"></span>
    </span>
</button>

<div class="inline-block" data-ng-if="as.applicationFormLink">
    <a data-ng-if="ao.canBeApplied" data-ng-href="{{as.applicationFormLink}}" title="{{tooltips.externalApplicationForm}}" target="_blank">
    <i class="icon-link-ext-alt"></i><span data-ki-i18n="apply-button-label" data-lang="{{teachingLang}}"></span>
    </a>
    <span data-ng-if="!ao.canBeApplied" class="text-disabled">
        <i class="icon-link-ext-alt"></i><span data-ki-i18n="apply-button-label" data-lang="{{teachingLang}}"></span>
    </a>
</div>

<div data-ng-switch="isItemAddedToBasket(ao.id)" class="add-to-basket">
    <span data-ng-switch-when="true">
        <span data-ki-i18n="popover-title-success" data-lang="{{teachingLang}}"></span><br/>
        <a href="#!/muistilista" data-ki-i18n="popover-content-link-to-application-basket" data-lang="{{teachingLang}}"></a>
    </span>
    <button
    data-ng-switch-default
    type="button" 
    id="addToBasket-{{$id}}" 
    class="primary"
    data-popover-placement="bottom" 
    data-popover="{{popoverContent}}" 
    data-popover-title="{{popoverTitle}}" 
    data-popover-trigger="click"
    data-ng-click="addHighEdToBasket(ao.id)"
    data-ng-disabled="lo.preview">
    <span>
        <span data-ki-i18n="add-to-basket-label" data-lang="{{teachingLang}}"></span>
    </span>
</button>
</div>