<a href="javascript:void(0)" class="remove" data-ng-click="removeItem(item.id)" title="{{tooltips.removeApplicationOption}}"></a>

<div data-ng-if="isErikseenHaettava(as)" class="disc basket-table-cell-block">
    <form data-ng-if="item.useSystemApplicationForm" action="{{hakuAppUrl(item.asId)}}" id="application-form-{{item.asId}}" method="post" target="hakulomake">
        <input type="hidden" name="preference1-Opetuspiste" value="{{item.providerName}}"/>
        <input type="hidden" name="preference1-Opetuspiste-id" value="{{item.providerId}}"/>
        <input type="hidden" name="preference1-Koulutus-id-athlete" value="{{item.athleteEducation}}"/>
        <input type="hidden" name="preference1-Koulutus" value="{{item.name}}"/>
        <input type="hidden" name="preference1-Koulutus-id" value="{{item.id}}"/>
        <input type="hidden" name="preference1-Koulutus-educationDegree" value="{{item.educationDegree}}"/>
        <input type="hidden" name="preference1-Koulutus-id-sora" value="{{item.sora}}" />
        <input type="hidden" name="preference1-Koulutus-id-lang" value="{{item.teachLang}}" />
        <input type="hidden" name="preference1-Koulutus-id-aoIdentifier" value="{{item.aoIdentifier}}" />
        <input type="hidden" name="preference1-Koulutus-id-kaksoistutkinto" value="{{item.kaksoistutkinto}}" />
        <input type="hidden" name="preference1-Koulutus-id-vocational" value="{{item.vocational}}" />
        <input type="hidden" name="preference1-Koulutus-id-educationcode" value="{{item.educationCodeUri}}" />
        <input type="hidden" name="preference1-Koulutus-id-discretionary" value="{{item.kysytaanHarkinnanvaraiset}}" />
        <button 
            class="btn btn-primary pull-right" 
            data-ng-disabled="isApplicationOptionDisabled(item)" 
            type="submit"
            data-ki-i18n="application-basket-fill-form">
        </button>

    </form>

    <div data-ng-if="!item.useSystemApplicationForm && (item.applicationFormLink || item.paid || item.tunnistusKaytossa)">
        <span data-ng-if="!isApplicationOptionDisabled(item)">
            <a data-ng-if="item.paid || item.tunnistusKaytossa" data-ng-href="/hakuperusteet/ao/{{item.id}}" title="{{tooltips.externalApplicationForm}}" target="_blank">
                <i class="kicon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
            </a>
            <a data-ng-if="!(item.paid || item.tunnistusKaytossa)" data-ng-href="{{item.applicationFormLink}}" title="{{tooltips.externalApplicationForm}}" target="_blank">
                <i class="kicon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
            </a>
        </span>
        <span data-ng-if="isApplicationOptionDisabled(item)">
            <a class="text-muted">
                <i class="kicon-link-ext-alt"></i><span data-ki-i18n="apply-button-label"></span>
            </a>
        </span>
    </div>

    <!-- Lomake-editorin lomake -->
    <a data-ng-if="item.ataruFormKey"
       data-ng-href="{{ isApplicationOptionDisabled(as) ? ataruAppUrl(item.id) + '?lang=' + $root.lang : '' }}"
       data-ng-disabled="!isApplicationOptionDisabled(as)"
       class="btn btn-default"
       target="_blank"
       data-ki-i18n="apply-button-label">
    </a>

    <div class="pull-right" data-ki-app-basket-application-status data-ao="item"></div>
</div>

<div data-ng-if="!isErikseenHaettava(as)" class="disc basket-table-cell-block">
    <!-- Lomake-editorin lomake -->
    <a data-ng-if="item.ataruFormKey"
       data-ng-href="{{ isApplicationOptionDisabled(as) ? ataruAppUrl(item.id) + '?lang=' + $root.lang : '' }}"
       data-ng-disabled="!isApplicationOptionDisabled(as)"
       class="btn btn-default"
       target="_blank"
       data-ki-i18n="apply-button-label">
    </a>

    <div class="pull-right" data-ki-app-basket-application-status data-ao="item"></div>
</div>