<ul class="list-unstyled">
    <li data-ng-if="item.attachments">
        <a href="#!/{{item.loRef}}" data-ki-i18n="application-basket-attachments-required"></a>
    </li>
    <li data-ng-if="!item.attachments">
        <span data-ki-i18n="application-basket-no-attachments"></span>
    </li>

    <li data-ng-if="item.exams" data-ng-repeat="exam in item.exams">
        <a href="#!/{{item.loRef}}">
            <span data-ng-if="exam.type">{{exam.type}}</span>
            <span data-ng-if="!exam.type" data-ki-i18n="entrance-exam"></span>
        </a>
    </li>
    <li data-ng-if="!item.exams">
        <span data-ki-i18n="application-basket-no-exams"></span>
    </li>
</ul>