body {
	max-width: 60em;
	font-family: arial, sans-serif;
	/*font-size: 1em;*/
	font-size: 0.813em;
	color: #333333;
	/*line-height: 1.5em;*/
	line-height: 1.22em;
}

h1
{
	font-size: 1.692em;
	line-height:1.3em;
}

h2
{
	font-size: 1.385em;
	line-height:1.3em;
}

h3
{
	font-size: 0.923em;
	line-height: 1.538em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.12em;
}

h4
{
	font-size: 1em;
	line-height: 1.538em;
	text-transform: none;
	
}

h5 {
	font-size: 1em;
	line-height: 1.538em;
	font-weight: normal;
	font-style: italic;
}

h6 {
	font-size: 0.923em;
	line-height: 1.538em;
}

a:link {
	color: #2B4560;
	text-decoration: underline;
}

a:hover {
	color: #2B4560;
	text-decoration: underline;
}

a:active {
	color: #149ECB;
	text-decoration: underline;
}

a:visited {
	color: #06526B;
	text-decoration: underline;	
}

p {
	margin: 1em 0;
}

table {
	width: 100%;
	border: 1px solid #000000;
	border-collapse: collapse;
}

table th,
table td {
	border: 1px solid #000000;
	padding: 1em;
}

table th {
	text-align: left;
}

.block {
	display: block;
}

#tabs a {
	margin: 0 4em 0 0;
}

#header {
	margin: 0 0 1em 0;
}

#navi, #tabs {
	margin: 0 0 1em 0;
}

#navi ul {
	margin: 1em 0em;
	padding: 0;
	list-style-type: none;
}

#navi ul li {
	float: left;
}

#navi ul li:before {
	content: ">";
	margin: 0 0.5em;
}

#navi ul li:first-child:before {
	content: "";
	margin: 0;
}

#navi .pager-switch {
	margin: 0 0 1em 0;
}

#breadcrumb {
	margin: 0 0 4em 0;
}

#breadcrumb .delimiter {
	margin: 0 0.5em;
}

.pager {
	margin: 0 4em 0 0;
}

#footer {
	margin: 4em 0 0 0;
} 

#footer a {
	margin: 0 4em 0 0;
}

.clear {
    *zoom: 1;
}

.clear:before,
.clear:after {
	display: table;
    content: "";
    line-height: 0;
}

.clear:after {
	clear: both;
}