<div class="container">
    <h1 data-ki-i18n="searchwizard:title"></h1>
    <div class="panel panel-gray">
        <div class="panel-body relative">
            <div data-ki-ajax-loader data-active="phaseIsLoading"></div>
            <div data-ng-if="!isFirstPhase()">
                <button type="button" class="btn btn-primary"  data-ng-click="gotoPreviousPhase()" data-ki-i18n="searchwizard:to-previous-phase"></button>
                <hr/>
            </div>
            <div data-ng-if="selections">
                <strong data-ki-i18n="searchwizard:breadcrumb-label" data-show-colon="true" class="pull-left margin-right-small"></strong>
                <ol class="breadcrumb">
                    <li data-ng-repeat="selection in selections">
                        <span data-ng-if="selection.label">{{selection.label}}</span>
                    </li>
                </ol>
                <hr/>
            </div>

            <div data-ng-if="resultCount == 0">
                <div class="alert alert-info alert-icon" data-ki-i18n="searchwizard:no-results"></div>
            </div>
            <div data-ng-if="resultCount != 0">
                    <div data-ng-include="'partials/searchwizard/phases/' + currentPhase + '.html'"></div>
            </div>
        </div>
    </div>
</div>