<section id="main-info">
    <h4>{{provider.name}}</h4>
    <div>{{provider.homeplace}}</div>

    <div data-ng-repeat="parent in lo.parents">
    	<span>
    		<a data-ng-href="#!/korkeakoulu/{{parent.id}}">{{parent.name}}</a>
    		<!-- PREVIEW -->
    		<span data-ng-if="lo.preview" data-ki-preview-status-label="parent.status" data-lang="virkailijaLang"></span>
    		<!-- END PREVIEW -->
    	</span>
    </div>

    <div data-ng-if="lo.parentLos">
        <div data-ng-if="!(lo.qualifications.length == 1)">{{lo.educationDomain}}</div>
        <div data-ng-if="lo.qualifications.length == 1">{{lo.educationDomain}}<span data-ng-show="lo.qualification">, {{lo.qualification}}</span></div>
        <a href="#!/tutkinto/{{lo.parentLos.id}}?prerequisite={{lo.koulutusPrerequisite.value}}">{{lo.parentLos.name}}</a>
    </div>

    <h1 data-ng-if="lo.educationDegree != 'koulutusasteoph2002_31'" class="inline">{{lo.name}}<span data-ng-show="lo.creditValue">, {{lo.creditValue}} {{lo.creditUnit}}</span></h1>
    <h1 data-ng-if="lo.educationDegree == 'koulutusasteoph2002_31'" class="inline">{{provider.name}}, {{lo.name}}</h1>

    <!-- PREVIEW -->
    <div data-ng-if="lo.preview" class="inline preview-actions">
        <span data-ki-preview-status-label="lo.status" data-lang="virkailijaLang"></span>
        <a class="btn btn-info" href="{{lo.tarjontaEditUrl}}" data-ki-i18n="tarjonta-muokkaa-koulutus" data-lang="{{virkailijaLang}}"></a>
    </div>
    <!-- END PREVIEW -->

    <div data-ki-sibling-ribbon data-siblings="lo.siblings" template="siblingsNew" class="ribbon"></div>
    <div data-ki-child-ribbon data-children="lo.children" data-lang="virkailijaLang" type="loType" class="ribbon"></div>
</section>
