<section id="main-info">
    <h4>{{provider.name}}</h4>
    <div>{{provider.homeplace}}</div>

    <div data-ng-repeat="parent in lo.parents">
        <span>
            <a data-ng-href="#!/korkeakoulu/{{parent.id}}">{{parent.name}}</a>
            <!-- PREVIEW -->
            <span data-ng-if="lo.preview" data-ki-preview-status-label="parent.status" data-lang="virkailijaLang"></span>
            <!-- END PREVIEW -->
        </span>
    </div>

    <span data-ng-if="isToinenaste(lo)">
        <!-- 2. aste -->
        <span data-ng-if="lo.qualifications.length == 1 && (shouldShowEducationDomain(lo) && shouldShowQualifications(lo))">{{lo.qualifications[0]}}<br></span>
    </span>
    <span data-ng-if="!isToinenaste(lo)">
        <span data-ng-if="lo.qualifications.length != 1 && shouldShowEducationDomain(lo)">{{lo.educationDomain}}</span>
        <span data-ng-if="lo.qualifications.length == 1 && (shouldShowEducationDomain(lo) && shouldShowQualifications(lo))">{{lo.educationDomain}}, {{lo.qualifications[0]}}<br></span>
    </span>

    <span data-ng-if="lo.parentLos" data-ng-repeat="parent in lo.parentLos">

        <a data-ng-if="!lo.preview && parent.type == 'TUTKINTO'" href="{{parent.url}}?prerequisite={{parent.koulutusPrerequisite}}">{{parent.name}}</a>
        <a data-ng-if="!lo.preview && parent.type == 'KOULUTUS'" href="{{parent.url}}">{{parent.name}}</a>
        <!-- PREVIEW -->
        <a data-ng-if="lo.preview && parent.type == 'TUTKINTO'">{{parent.name}}</a>
        <a data-ng-if="lo.preview && parent.type == 'KOULUTUS'" href="{{parent.url}}">{{parent.name}}</a>
        <!-- END PREVIEW -->
        <span ng-if="!$last">|</span>
    </span>

    <br>

    <h1 data-ng-if="lo.educationDegree != 'koulutusasteoph2002_31'" class="inline">
        {{lo.name}}<span data-ng-show="lo.creditValue">, {{lo.creditValue}} {{lo.toteutustyyppi == 'KORKEAKOULUOPINTO' ? lo.creditUnitShort : lo.creditUnit}}</span>
    </h1>
    <h1 data-ng-if="lo.educationDegree == 'koulutusasteoph2002_31'" class="inline">{{provider.name}}, {{lo.name}}</h1>

    <!-- PREVIEW -->
    <div data-ng-if="lo.preview" class="inline preview-actions">
        <span data-ki-preview-status-label="lo.status" data-lang="virkailijaLang"></span>
        <a class="btn btn-info" href="{{lo.tarjontaEditUrl}}" data-ki-i18n="tarjonta-muokkaa-koulutus" data-lang="{{virkailijaLang}}"></a>
    </div>
    <!-- END PREVIEW -->

    <!-- PREVIEW -->
    <div data-ng-if="lo.preview && lo.educationType == 'et01.03.01'" data-ki-i18n="esikatselu-sisaruslista-placeholder" data-lang="{{virkailijaLang}}"></div>
    <!-- END PREVIEW -->

    <div>
        <span tabindex="0" class="label label-subject" data-ng-repeat="subject in lo.subjects | orderBy:'toString()'"
              data-ng-click="selectLabel(subject)" data-ng-keypress="selectLabel(subject)">{{subject}}</span>
    </div>

    <div data-ng-if="lo.opintojaksos" data-ki-sibling-ribbon data-siblings="lo.opintojaksos" template="siblingsNew" class="ribbon"></div>
    <div data-ng-if="lo.siblings"  data-ki-sibling-ribbon data-siblings="lo.siblings" template="siblingsNew" class="ribbon"></div>
    <div data-ng-if="lo.children"  data-ki-child-ribbon data-children="lo.children" data-lang="virkailijaLang" type="loType" class="ribbon"></div>
</section>
