<footer>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-footer">
            <div class="panel-body row">
                <div class="col-md-4">
                    <img data-ng-src="{{images.logo}}" alt="Opintopolku.fi">
                </div>
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{links.rekisteriseloste}}" data-ki-i18n="footer-privacy-policy"></a>
                        </li>
                        <li>
                            <a href="{{links.hakemisto}}" data-ki-i18n="footer-sitemap"></a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>

        <p class="text-center text-muted">
            <span data-ki-i18n="footer-note"></span>
        </p>

        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-md-8 ">
                    <a href="{{links.opetushallitus}}" title="{{locales.opetushallitus}}"><img data-ng-src="{{images.opetushallitus}}" alt="{{locales.opetushallitus}}" class="center-block"></a>
                </div>
                <div class="col-md-8 center-block">
                    <a href="{{links.opetusministerio}}" title="{{locales.opetusministerio}}"><img data-ng-src="{{images.opetusministerio}}" alt="{{locales.opetusministerio}}" class="center-block"></a>
                </div>
            </div>
        </div>
        <p class="text-center text-muted">
            <span data-ki-i18n="footer-copyright"></span>
        </p>
    </div>
</footer>