<footer data-ng-controller="FooterCtrl">
    <p class="small" data-ki-i18n="footer-note"></p>
    <div class="footer-wrapper">
        <div class="footer-item">
            <a href="{{links.opetushallitus}}" title="{{locales.opetushallitus}}"><img data-ng-src="{{images.opetushallitus}}" alt="{{locales.opetushallitus}}"></a>
        </div>

        <div class="footer-item">
            <a href="{{links.opetusministerio}}" title="{{locales.opetusministerio}}"><img data-ng-src="{{images.opetusministerio}}" alt="{{locales.opetusministerio}}"></a>
        </div>
        <div class="clear"></div>
    </div>
    <p class="small">
        <span data-ki-i18n="footer-copyright"></span> - <a href="{{links.rekisteriseloste}}" data-ki-i18n="footer-privacy-policy"></a>
    </p>
</footer>