<section class="col-md-11">
    <div class="panel panel-gray">
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>
                    <span data-ki-i18n="education-starts" data-show-colon="true"></span>
                    <strong data-ng-show="selectedLOI.startDate">{{selectedLOI.startDate}}</strong>
                    <strong data-ng-hide="selectedLOI.startDate">{{selectedLOI.startSeason}} {{selectedLOI.startYear}}</strong>
                </li>
                <li>
                    <span data-ki-i18n="language-of-instruction" data-show-colon="true"></span>
                    <strong>{{selectedLOI.teachingLanguage}}</strong>
                </li>
                <li>
                    <span data-ki-i18n="form-of-education" data-show-colon="true"></span>
                    <span data-ng-repeat="fot in selectedLOI.formsOfTeaching">
                        <strong>{{fot}}</strong><span data-ng-show="!$last">,</span>
                    </span>
                </li>
                <li>
                    <span data-ki-i18n="duration" data-show-colon="true"></span>
                    <strong>{{lo.creditValue}} {{lo.creditUnit}}</strong>
                </li>
                <li>
                    <span data-ki-i18n="planned-duration" data-show-colon="true"></span>
                    <strong>{{selectedLOI.plannedDuration}} {{selectedLOI.plannedDurationUnit}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div data-ki-language-ribbon data-languages="selectedLOI.availableTranslationLanguages" data-change-language="changeDescriptionLanguage" class="ribbon"></div>
    <div data-ki-collapse-text-block data-title="goals-of-education" data-content="lo.goals" data-closed="false"></div>
    <div data-ki-collapse-text-block data-title="content-of-studies" data-content="selectedLOI.content" data-closed="false"></div>
    <div data-ki-collapse-block data-title="study-plan" data-content="selectedLOI.studyPlan" data-closed="false">
        <div data-ki-study-plan></div>
    </div>
    <div data-ki-collapse-text-block data-title="structure-of-studies" data-content="lo.structure" data-closed="false"></div>
    <div data-ki-collapse-block data-title="language-selection" data-content="selectedLOI.languageSelection" data-closed="false">
        <div data-ki-language-selection></div>
    </div>
    <div data-ki-collapse-block data-title="diploma" data-content="selectedLOI.diplomas" data-closed="false">
        <div data-ki-diploma></div>
    </div>
    <div data-ki-collapse-text-block data-title="working-life-placement" data-content="selectedLOI.workingLifePlacement" data-closed="false"></div>
    <div data-ki-collapse-text-block data-title="internationalization" data-content="selectedLOI.internationalization" data-closed="false"></div>
    <div data-ki-collapse-text-block data-title="cooperation" data-content="selectedLOI.cooperation" data-closed="false"></div>
    <div data-ki-collapse-text-block data-title="access-to-further-studies" data-content="lo.accessToFurtherStudies" data-closed="false"></div>
    <div data-ki-contact-person-info data-content="selectedLOI.contactPersons"></div>
</section>
<div class="col-md-5" data-ng-class="applyFormClass" data-ng-include data-src="partialCommonUrl + 'as/as.html'" data-ng-controller="ApplicationCtrl"></div>