<div class="filter">
    <h4 title="{{locales.openCloseFacet}}" data-ng-click="toggleCollapsed(0)" class="collapser" data-ng-class="{open: !collapsed[0], close: collapsed[0]}">
        <span class="icon"></span>
        <span data-ki-i18n="facet-aineistotyyppi"></span>      
    </h4>
    <div data-collapse="collapsed[4]" class="collapse">
        <ul class="nobullet collapse-content-container">
            <li data-ng-repeat="fv in loResult.articleContentTypeFacet.facetValues">
                <span data-ng-show="!isArticleFacetSelected(fv)" class="facet-item">
                    <a href="javascript:void(0)" data-ng-click="selectArticleFacetFilter(fv.valueId, fv.facetField)">{{fv.valueName}} ({{fv.count}})</a>
                </span>
                <span data-ng-show="isArticleFacetSelected(fv)" class="facet-item selected">
                    <span>{{fv.valueName}}</span><a title="{{locales.removeFacet}}" href="javascript:void(0)" class="remove" data-ng-click="removeArticleFacetSelection(fv)"></a>
                </span>
            </li>
        </ul>
    </div>
</div>