<div class="notification info">
    <h3>Tähän syksyllä 2013 alkavaan koulutukseen alkaa haku 3.4.2013!</h3>
    <ul>
        <li>
            Koulutus alkaa: 
        </li>
        <li>
            Opetuskieli:
        </li>
        <li>
            Opetusmuoto:
        </li>
        <li>
            Koulutuksen laajuus:
        </li>
    </ul>
</div>
<div render-text-block data-title="general-selection-criteria" data-content="{{lorem}}"></div>
<!--
<p>
    <a href="#">Lue lisää...</a>
</p>
-->

<div render-text-block data-title="Perusopetuksen päättäneiden valinta" data-content="{{lorem}}"></div>

<div render-text-block data-title="Pisteytys" data-content="{{loremshort}}" data-level="4"></div>
<!--
<p>
    <a href="#">Lue lisää...</a>
</p>
-->

<div render-text-block data-title="Pääsykoe 22.5.2014" data-content="{{loremshort}}" data-level="4"></div>

<div render-text-block data-title="Lisätietoa hakemisesta" data-content="{{loremshort}}" data-level="4"></div>
