<!--
<div class="notification info">
    <h3>Tähän syksyllä 2013 alkavaan koulutukseen alkaa haku 3.4.2013!</h3>
    <ul>
        <li>
            Koulutus alkaa: 
        </li>
        <li>
            Opetuskieli:
        </li>
        <li>
            Opetusmuoto:
        </li>
        <li>
            Koulutuksen laajuus:
        </li>
    </ul>
</div>
-->
<div data-ki-language-ribbon class="ribbon"></div>
<div render-text-block data-title="general-selection-criteria" data-content="{{ao.selectionCriteria}}"></div>
<!--
<p>
    <a href="#">Lue lisää...</a>
</p>
-->

<div render-text-block data-title="elementary-graduate-selection" data-content="{{lorem}}"></div>

<div render-text-block data-title="scoring" data-content="{{loremshort}}" data-level="3"></div>
<!--
<p>
    <a href="#">Lue lisää...</a>
</p>
-->

<div render-text-block data-title="entrance-exam" data-content="{{loremshort}}" data-level="3"></div>

<div render-text-block data-title="further-application-info" data-content="{{loremshort}}" data-level="3"></div>
