<div data-ki-language-ribbon class="ribbon"></div>
<div data-render-text-block data-title="goals-of-education" data-content="{{parentLO.goals}}"></div>
<div data-render-text-block data-title="selection-of-degree-program" data-content="{{selectedLOI.selectingDegreeProgram}}"></div>

<div data-ng-switch="hasChildren()">
    <div data-ng-switch-when="true">
        <h2 data-ki-i18n="base-education-{{selectedLOI.prerequisite.value}}"></h2>
            <ul class="disc">
                <li data-ng-repeat="child in selectedAs.children">
                	<a href="#/koulutusohjelma/{{child.losId}}#{{prerequisite.value}}">{{child.name}}</a>
                </li>
            </ul>
    </div>
</div>

<div data-render-text-block data-title="access-to-further-studies" data-content="{{parentLO.accessToFurtherStudies}}"></div>
